1  ^Modo Vivir - F1^
2  ^Modo Comprar - F2^
3  ^Modo Construir - F3^
4  ^Modo Propiedad - F4^
5  ^Modo Opciones - F5^
6  ^Primer Piso^
7  ^Segundo Piso^
8  ^Paredes invisibles^
9  ^Paredes cortadas^
10 ^Paredes completas^
11 ^Tejado^
12 ^Zoom cercano^
13 ^Zoom medio^
14 ^Zoom lejano^
15 ^Barrio^
16 ^Ciudad^
17 ^Acercar^
18 ^Alejar^
19 ^Derecha^
20 ^Izquierda^
21 ^Web de Relaciones^
22 ^Correo^
23 ^Ayuda^
24 ^Ventana de Presupuesto^
25 ^Tipos de Paredes^
26 ^Nombre del Personaje^
27 ^Tiempo actual^
28 ^Fondos disponibles^
29 ^Marcadores^
30 ^Tienes %d nuevos mensajes^
31 ^> ^