1 ^Volver a la pantalla de Seleccionar un Sim^
2 ^Salir del Juego^
3 ^Opciones de Gráficos^
4 ^Opciones de Sonido^
5 ^Opciones de Chat^
6 ^Salir de la Ciudad^
7 ^Estás a punto de salir de la ciudad. ¿Quieres continuar?^

