1 ^Cerrar^
2 ^Jugar^
3 ^Pausar^
4 ^Aumentar Minutos^
5 ^Disminuir Minutos^
6 ^Aumentar Segundos^
7 ^Disminuir Segundos^
8 ^Poner Temporizador^
9 ^Elegir modo^
10 ^Cronógrafo^
11 ^Cuenta atrás^
12 ^Poner Temporizador^
13 ^:^

