1 ^No se ha podido cambiar el tamaño.^
2 ^Tienes arquitectura o objetos fuera del area.  Debes mover o eliminar estos objetos que están fuera de los límites de construcción.^
3 ^No puedes permitírtelo.^
4 ^Debes tener al menos %d Acompañantes para cambiar el tamaño.  ^
5 ^Solo hay %d Acompañante.^
6 ^Solo hay %d Acompañantes.^
