
tooltips

^Aikuinen^
^Lapsi^
^Nainen^
^Mies^
^Tumma^
^Mediumi^
^Vaalea^
^Edellinen Vartalo^
^Seuraava Vartalo^
^Edellinen Pää^
^Seuraava Pää^
^Valmis^
^Peruuta^

^Ei Luonnetta!^
^Haluatko varmasti luoda %s:n ilman luonnetta?^

// not used yet, but will be:
^LUO HAHMO^
^LUONNE^
^Siisti^
^Menevä^
^Toimelias^
^Leikkisä^
^Mukava^
^VALMIS^
^PERUUTA^
^Kuvaus^
^Kuvaus %s:lle^

^Syötä Nimi:^
^Astrologinen Merkki^