
kEvictHouseXXX
^Jyr‰t‰‰nkˆ talo?^
^Haluatko jyr‰t‰ t‰m‰n talon?^

kEvictFamilyXXX
^H‰‰det‰‰nkˆ perhe?^
^Perheen %s yhteisarvo on %s.  Haluatko h‰‰t‰‰ heid‰t talosta?^

kEvictNothingXXX
^Ei mit‰‰n jyr‰tt‰v‰‰^
^T‰‰ll‰ ei ole mit‰‰n jyr‰tt‰v‰‰.^

kEvictCommunityXXX
^Yhteisˆ Alue^
^Et voi jyr‰t‰ yhteisˆ aluetta.^

kEvictMarqueeXXX
^Pahoittelut^
^Et voi jyr‰t‰ kohdetta the SimEstates marquee.^

kEvictCountNotXXX
^Virhe^
^H‰‰t‰minen ep‰onnistui!^

^Pahoittelut^
^Et voi jyr‰t‰ tutoriaali taloa.^