^Ostetaanko Talo?^
^Haluatko varmasti ostaa tämän talon?^

^Pahoittelut!^
^Tällä perheellä ei ole varaa ostaa tätä taloa.^

^Onneksi olkoon!^
^Ostit sen.^

^Ostetaanko tontti?^
^haluatko ostaa tämän tontin?^

^Ostetaanko Valmiiksi Tehty?^
^Haluatko ostaa valmiiksi tehdyn kodin?^

^Pahoittelut^
^Ensin sinun täytyy sijoittaa tämä perhe taloon.^

^Yhteisötontti^
^Et voi sijoittaa perhettä yhteiselle tontille.^

^Talo Varattu^
^Tämän talon on varannut toinen perhe.^

^Tutoriaali Talo^
^Tämä on tutoriaali talo.  Perheet eivät muuta sinne.^

^Virhe!^
^Muutto epäonnistui!^

^Talo Täynnä^
^Et voi tällähetkellä mennä taloon, koska se on täynnä.^