^Ensimmäinen kerros^
^Toinen kerros^
^Katto^
^Pyöritä vasemmalle^
^Pyöritä oikealle^
^Siirry lähemmäs +^
^Siirry kauemmas -^
^Seinät ylös^
^Läpinäkyvät seinät^
^Seinät alas^
^Pelaa - F1^
^Osta - F2^
^Rakenna - F3^
^Peliasetukset - F5^
^Rahat^
^^
^^
^^
^^
^^
^Ystävien määrä^

^AM^
^PM^

^Apu^
