this is the text for the default buttons only. the real text is stored with the objects
that bring up the dialogs.

ok button ^Ok^
cancel button ^Peruuta^
yes button ^Kyllä^
no button ^Ei^
default child name ^Sim Lapsi^
