1  ^Käteinen^
2  ^Yhteisarvo^
3  ^Laskut^
4  ^Tulo^
5  ^Kulut^
6  ^Käteinen^
7  ^Yhteisarvo^
8  ^Laskut^
9  ^Tulo^
10 ^Kulut^
11 ^Talousarvio^
12 ^Vieritä Ylös^
13 ^Vieritä Alas^
14 ^Sulje^
15 ^Käteisen arvo:^
16 ^Rahaa tavaroissa:^
17 ^Tavaran Arvo:^
18 ^Arkkitehtuuri Arvo:^
19 ^Kokonais-summa:^



