^Lattiaruutua ei voi muuttaa^
^Korkeus on jo niin korkea kuin mahdollista^
^Korkeus on joo niin matala kuin mahdollista^
^Esine edellytt‰‰ tasaista pintaa^
^Ei voida jakaa moni lattiaruutu esinett‰^
^Rahat eiv‰t riit‰^
^T‰ytyy sijoittaa ensimm‰iseen kerrokseen^
