Room sort tooltips

^Olohuone^
^Ruokailuhuone^
^Makuuhuone^
^Työhuone^
^Keittiö^
^Kylpyhuone^
^Ulkopuoli^
^Sekalainen^

functional sort tooltips

^Istumapaikat^
^Pinnat^
^Korite^
^Viihde^
^Kodinkoneet^
^Putkityöt^
^Valaistus^
^Sekalainen^
