^Käynnistetään ohjelman alustus^
^Rekisteröidään resurssit^
^Asetellaan näppäimet^
^Alustetaan grafiikoita^
^Puretaan maasto verkostoa^
^Lasketaan  taloudelliset kertoimet^
^Tarkastetaan Ura tikapuut^
^Haetaan raha varastoa^
^Hakkeroidaan sosiaalista verkostoa^
^Ladataan verkkomaiset splinit^
^Mukautetaan emotionaaliset painot^
^Kalibroidaan persoonallisuus matrix^
^Aloitetaan henkilön etsiminen^
^Ohjelman alustus suoritettu^
^Säädetään kaaos ohjausta^
^Ladataan hahmot^
^Asetellaan tavarat^
