^Käynnistetään ohjelman alustus^
^Rekisteröidään resurssit^
^Asetetaan näppäimet^
^Alustetaan grafiikoita^
^Puretaan maasto verkostoa^
^Lasketaan  taloudelliset kertoimet^
^Tarkistetaan Ura tikapuita^
^Haetaan raha varastoa^
^Hakkeroidaan sosiaalista verkkoa^
^Ladataan verkkomaisia splineja^
^Mukautetaan emotionaaliset painot^
^Kalibroidaan persoonallisuus matrix^
^Aloitetaan henkilön etsiminen^
^Ohjelman alustus suoritettu^
^Säädetään kaaos ohjausta^
^Ladataan hahmoja^
^Asetetaan tavaroita^
