^Peliä ei voida käynnistää, koska:^
^Vaatii Direct 7. Sitä ei pystytty paikantamaan.^
^Vakava virhe!^
^Peli vaatii Pentium suorittimen (tai vastaavan), tai paremman, Koska sellaista ei löytynyt.^
^Värien määrä täytyy asettaa 16 bittiin (korkea väri).^
^Käyttöjärjestelmää ei tunnistettu. Tuetut käyttöjärjestelmät: Windows 98, XP tai ME.^
^Näytön resoluutio on liian pieni. Aseta se 800x600, 1024x768, tai suuremmaksi.^
^The Sims Online on jo käynnissä!^
^Näytönohjaimesi ei tue tuhansia värejä.^
^Poistu nyt.^
^Sinulla ei ole tarpeeksi muistia tai kiintolevy tilaa suorittaaksesi tätä.^
^The Sims Online ei tue näytön resoluution vaihtamista, koska peli on päällä.  Peli täytyy lopettaa.^
^The Sims Online ei tue näytön resoluution vaihtamista, koska peli on päällä.  Peli täytyy lopettaa.^
^Ei ole tuettu!^
