1  ^Elämis Tila - F1^
2  ^Osto Tila - F2^
3  ^Rakennus Tila - F3^
4  ^Tontti Tila - F4^
5  ^Asetukset Tila - F5^
6  ^Ensimmäinen Kerros^
7  ^Toinen Kerros^
8  ^Seinät Alas^
9  ^Seinät Leikkaantuvat pois^
10 ^Seinät Ylös^
11 ^Katto^
12 ^Lähi zoomaus^
13 ^Mediumi zoomaus^
14 ^Etäinen zoomaus^
15 ^Naapurusto^
16 ^Kaupunki^
17 ^Lähennä^
18 ^Loitonna^
19 ^Käännä Oikealle^
20 ^Käännä Vasemmalle^
21 ^Ihmissuhde verkko^
22 ^Postilaatikko^
23 ^Apu^
24 ^Budjetti Ikkuna^
25 ^Valitse Tontti Näkymä^
26 ^Hahmon Nimi^
27 ^Tämänhetkinen Aika^
28 ^Käytettävät Varat^
29 ^Kirjanmerkit^
30 ^Sinulla on %d uutta viesti(ä)^
31 ^> ^