1 ^Mene Sim:in valinta Ruutuun^
2 ^Poistu Pelistä^
3 ^Grafiikka-Asetukset^
4 ^Ääni Asetukset^
5 ^Chatti Asetukset^
6 ^Kaupungin jättäminen^
7 ^Olet jättämässä jäähyväiset kaupungille. Haluatko jatkaa?^

