1 ^Syötä numerollinen sarja väliltä 1 - 9 numeroa pitkä. Tätä koodia tarvitaan oven kautta kulkemiseen.^
2 ^Ovi Maksu^
3 ^Vapauta:^
4 ^Ystävät^
5 ^Työntekijät^
6 ^Salli näiden Sim:ien kulkea tästä ovesta^
7 ^Kämppäkaverit^
8 ^Vierailijat^
9 ^Lupa Ovi^
10 ^Maksu Ovi^
11 ^Koodi Ovi^
12 ^Salainen Koodi^
13 ^Ovi Maksu^
14 ^Sulje^
15 ^Ladataan...^
16 ^$^
