1 ^Sulje^
2 ^Lähetä viesti^
3 ^Apu^
4 ^Lajittele aiheen mukaan^
5 ^Lajittele lähettäjän mukaan^
6 ^Lajittele päivämäärän mukaan^
7 ^Lajittele lajin mukaan^
8 ^Lajittele kiirellisyyden mukaan^
9 ^Poista^
10 ^Valitse vastaanottaja^
11 ^Vieritä Ylös^
12 ^Vieritä Alas^
13 ^Poista viesti^
14 ^Oletko varma, että haluat poistaa tämän viestin?^
15 ^Poista^
16 ^Vastaa^
17 ^Vastaus: ^
18 ^Simiä Ei löytynyt^
19 ^Simiä nimellä jonka valitsit ei ole olemassa ja ei voi viestittää...^
20 ^Su^
21 ^Ma^
22 ^Ti^
23 ^Ke^
24 ^To^
25 ^Pe^
26 ^La^
27 ^Noudetaan Uusia Viestejä...^
28 ^Kaiken kaikkinen Edistyminen:^
29 ^Tämänhetkinen Tehtävä:^
30 ^Noudetaan viestiä %d / %d^
31 ^Viestien kokonaissumma: %d / Lukematonta viestiä: %d^
32 ^EA_REP_^
33 ^Poista kaikki tämän lajin viestit^
34 ^Poista kaikki tämän lähettäjän viestit^
35 ^Oletko varma, että haluat poistaa kaikki tämän lajin viestit?^
36 ^Oletko varma, että haluat poistaa kaikki tämän lähettäjän viestit?^


