1 ^Missä kaupungissa haluat asua?^
2 ^Ok^
3 ^Peruuta^
4 ^Vieritä Ylös^
5 ^Vieritä Alas^
6 ^Kaupungin Nimi^
7 ^Paikalla^
8 ^Simejä paikalla^
9 ^Status^
10 ^Lajittele kaupunkien nimien mukaan^
11 ^Lajittele yhteydessä olevien kaupunkien mukaan^
12 ^Lajittele paikalla olevien Simien mukaan^
13 ^Lajittele kaupunkien statuksien mukaan^
14 ^Kyllä^
15 ^Ei^
16 ^Ruuhkainen^
17 ^Täynnä^
18 ^Työntäyteinen/Täynnä^
19 ^Ok^
20 ^Kaupunki ei ole saatavilla^
21 ^Sinulla on jo luotu Sim tässä kaupungissa. Saat tehdä vaan yhden Simin per kaupunki. Luodaksesi toisen Simin tähän kaupunkiin on sinun poistuttava aiemmalla Simillä...^
22 ^Kaupunki On Täynnä^
23 ^Tämä kaupunki on täynnä, pahoittelut! Kukaan ei enää voi luoda uutta Simiä tähän kaupunkiin...^
24 ^Kaupunki On Ruuhkainen^
25 ^Tämä kaupunki on väliaikaisesti ruuhkainen, eikä pysty hyväksymään mitään uusia yhteyksiä. Yritä uudelleen parin minuutin kuluttua...^
26 ^Suljettu^
