1 ^Pohjoinen^
2 ^Etelä^
3 ^Itä^
4 ^Länsi^
5 ^Odotetaan Logiikka Pelaajaa^
6 ^Odotetaan Karisma Pelaajaa^
7 ^Maksu^
8 ^Kokonaismaksu: $%d^
9 ^Hävisit^
10 ^Onnittelut!^
11 ^Pahoittelut, Yritä Uudelleen!^
12 ^Yleinen Maksu: $%d
Ylityö Sakko: -$%d
Kokonaismaksu: $%d^
