Runaway pet letters

1 ^Olemme juuri napanneet teille kuuluvan "%s", karkuri kissan. Löytäessämme sen otus oli ollut kurjissa olosuhteissa, voimme vain olettaa, että te olette olleet epäkelpoinen omistaja.  Tunnollisempi Sim ottaa hoiviinsa "%s" kissan. Pidä jatkossa parempaa huolta lemmikeistäsi kiitos. Säännöllinen ruokinta, silittely ja leikkiminen ovat kaikki mitkä sinun pikku  pörröinen ystäväsi todellakin tarvitsee.^
2 ^Olemme juuri napanneet teille kuuluvan "%s", karkuri koiran. Löytäessämme sen otus oli ollut kurjissa olosuhteissa, voimme vain olettaa, että te olette olleet epäkelpoinen omistaja.  Tunnollisempi Sim ottaa hoiviinsa "%s" koiran. Pidä jatkossa parempaa huolta lemmikeistäsi kiitos. Säännöllinen ruokinta, silittely ja leikkiminen ovat kaikki mitkä sinun pikku  pörröinen ystäväsi todellakin tarvitsee.^
3 ^Olemme juuri napanneet teille kuuluvan "%s", karkuri kissan. Kissa oli karannut johtuen sen liiallisesta nälkäisyydestä.  Tunnollisempi Sim ottaa hoiviinsa "%s" kissan. Pidä jatkossa parempaa huolta lemmikeistäsi kiitos. Säännöllinen ruokinta, silittely ja leikkiminen ovat kaikki mitkä sinun pikku  pörröinen ystäväsi todellakin tarvitsee.^
4 ^Olemme juuri napanneet teille kuuluvan "%s", karkuri koiran. Koira oli karannut johtuen sen liiallisesta nälkäisyydestä.  Tunnollisempi Sim ottaa hoiviinsa "%s" koiran. Pidä jatkossa parempaa huolta lemmikeistäsi kiitos. Säännöllinen ruokinta, silittely ja leikkiminen ovat kaikki mitkä sinun pikku  pörröinen ystäväsi todellakin tarvitsee.^
5 ^Olemme juuri napanneet teille kuuluvan "%s", karkuri kissan. Kissa oli karannut johtuen sen liiallisesta sosiaalisesta laiminlyömisestä.  Tunnollisempi Sim ottaa hoiviinsa "%s" kissan. Pidä jatkossa parempaa huolta lemmikeistäsi kiitos. Säännöllinen ruokinta, silittely ja leikkiminen ovat kaikki mitkä sinun pikku  pörröinen ystäväsi todellakin tarvitsee.^
6 ^Olemme juuri napanneet teille kuuluvan "%s", karkuri koiran. Koira oli karannut johtuen sen liiallisesta sosiaalisesta laiminlyömisestä.  Tunnollisempi Sim ottaa hoiviinsa "%s" koiran. Pidä jatkossa parempaa huolta lemmikeistäsi kiitos. Säännöllinen ruokinta, silittely ja leikkiminen ovat kaikki mitkä sinun pikku  pörröinen ystäväsi todellakin tarvitsee.^
7 ^Olemme juuri napanneet teille kuuluvan "%s", karkuri kissan. Kissa oli karannut johtuen siitä, että sillä ei ollut mitään mukavaa tekemistä. Tunnollisempi Sim ottaa hoiviinsa "%s" kissan. Pidä jatkossa parempaa huolta lemmikeistäsi kiitos. Säännöllinen ruokinta, silittely ja leikkiminen ovat kaikki mitkä sinun pikku  pörröinen ystäväsi todellakin tarvitsee.^
8 ^Olemme juuri napanneet teille kuuluvan "%s", karkuri koiran. Koira oli karannut johtuen siitä, että sillä ei ollut mitään mukavaa tekemistä. Tunnollisempi Sim ottaa hoiviinsa "%s" koiran. Pidä jatkossa parempaa huolta lemmikeistäsi kiitos. Säännöllinen ruokinta, silittely ja leikkiminen ovat kaikki mitkä sinun pikku  pörröinen ystäväsi todellakin tarvitsee.^
9 ^Nimetön Kissa^
10 ^Nimetön Hauva^
11 ^MOMI (Eläinten Valvonta Osasto)^