
kEvictHouseXXX
^Haus abreissen?^
^Willst du dieses Haus abreissen?^

kEvictFamilyXXX
^Familie trennen?^
^Die %s Famillie hat einen Nettowert von %s.  Willst du sie trennen?^

kEvictNothingXXX
^Nichts abzureissen^
^Hier gibt es nichts abzureissen.^

kEvictCommunityXXX
^Gemeinschaftsgrundstueck^
^Du kannst keine Gemeinschaftsgrundstuecke abreissen.^

kEvictMarqueeXXX
^Sorry^
^Du kannst SimEstates nicht abreissen.^

kEvictCountNotXXX
^Fehler^
^Kann nicht trennen!^

^Sorry^
^Du kannst nicht das Tutorialhaus abreissen.^