^Haus kaufen?^
^Bist du dir sicher dass du das Haus kaufen willst?^

^Sorry!^
^Die Familie kann sich das Haus NICHT leisten.^

^Gratulation!^
^Du hast es gekauft^

^Eigentum kaufen?^
^Willst du das Eigentum erwerben?^

^Vorerstelltes Haus kaufen?^
^Willst du das vorerstellte Haus kaufen?^

^Sorry^
^You must first place this family in a house^

^Community Space^
^You cannot place a family in community space.^

^Haus bereits bewohnt^
^Das Haus wird schon von einer anderen Familie bewohnt.^

^Tutorial Haus^
^Das ist ein Tutorialhaus.  Familien koennen in das Haus nicht einziehen.^

^Error!^
^Konnte nicht einziehen!^

^Hause VOLL^
^Das Haus ist zu VOLL um einziehen zu koennen.^