1  ^Einkommen^
2  ^Nettowert^
3  ^Rechnungen^
4  ^Einkommen^
5  ^Expenses^
6  ^Geld^
7  ^Nettowert^
8  ^Rechnungen^
9  ^Einkommen^
10 ^Expenses^
11 ^Budget^
12 ^Scroll Up^
13 ^Scroll Down^
14 ^Schliessen^
15 ^Geldanzahl:^
16 ^Objekt Geldwert:^
17 ^Objekt Wert:^
18 ^Architekturischer Wert:^
19 ^Totale Summe:^



