^Die Sims Online^
^Beenden^
^Bist du sicher dass du das Spiel beenden willst?^
^Speichern^
^Willst du das Spiel speichern^
^Beenden^
^Willst du vor dem beenden speichern?^
^Tutorial reseten^
^Are you sure you want to reset the tutorial? The current family in that lot will be evicted.^
^The tutorial could not be reset.^
^An error was encountered exporting HTML^
^HTML exportieren^
^An error occurred exporting the family.^
^Familie exportieren^
^An error was encountered saving the house.^
^Haus speichern^
^Some objects on the property could not be loaded.^
^Fehlende Objekte!^
^Das Haus konnte nicht geladen werden.^
^Besitz laden^
^The runtime directory could not be located.^
^Fataler Error^
^Fehlende Texturen^
^The following textures could not be loaded. People may not look right.^
^Standby Modus Error^
^Standby Modus nicht erreichbar waehrend des Spiels.^
^Das Spiel wird jetzt beendet^