^Starte TSO^
^Registriere Resourcen^
^Lade Emotionen^
^Initializiere Grafik^
^Spielwelt wird geladen^
^Berechne Schulden^
^Die Karriereleiter wird neu eingestellt^
^Simoleons werden gezahelt^
^Hacke das Soziale Netzwerk^
^Downloade Splines^
^Emotionalegefuehle werden eingestellt^
^Kalibriere Personalitaets Matrix^
^Setting up personfinder^
^Appinitilaisierung abgeschlossen^
^Chaos wird erstellt^
^Lade Charaktere^
^Objekte werden eingestellt^
