1 ^Das Spiel ausloggen oder verlassen^
2 ^Sim Name^
3 ^Sim Beschreibung^
4 ^Erstelle einen neuen Sim^
5 ^Retire This Sim^
6 ^Zum Stadtmenu gehn^
7 ^Klicke um eine Stadt auszuwaehlen und um Sim einziehen zu lassen.^
8 ^Unbekannt^
9 ^Sim entfernen^
10 ^If you retire your Sim you will lose all their money, objects, friends, bookmarks, property, etc. - are you sure you want to retire them?^
11 ^Klicken um Stadt zu betreten^
12 ^Klicke um neuen Sim zu erstellen^
13 ^Das Spiel betreten^
14 ^Sim Beschreibung^
15 ^Scroll Up^
16 ^Scroll Down^
17 ^Deine Sims: Mit welchem willst du spielen?^
18 ^%.2d:%.2d^
19 ^Time Out Warnung^
20 ^You have less than %d minutes to select or create a new Sim. You will be taken back to the login screen when the counter expires...^
21 ^You now have less than %d minutes to select or create a new Sim. You will be taken back to the login screen when the counter expires...^
22 ^Error Retiring Avatar^
23 ^ -- Avatars can only be retired once every 7 days per city.^
24 ^Diese Stadt ist momentan offline.^
25 ^Entschuldigung, diese Stadt ist überbevölkert im Moment. Bitte versuche es spaeter nocheinmal!^
26 ^Credits^
27 ^Freier Wille^
28 ^Erstelle einen Sim mit Freiem Wille in einer Stadt die das unterstuetzt^