1  ^Livemodus - F1^
2  ^Kaufmodus - F2^
3  ^Baumodus - F3^
4  ^Eigentumsmodus - F4^
5  ^Optionsmodus- F5^
6  ^Erster Stock^
7  ^Zweiter Stock^
8  ^Waende runter^
9  ^Waende abgeschnitten^
10 ^Waende hoch^
11 ^Dach^
12 ^Close Zoom^
13 ^Medium Zoom^
14 ^Far Zoom^
15 ^Nachbarschaft^
16 ^Stadt^
17 ^Zoom In^
18 ^Zoom Out^
19 ^Rotate Right^
20 ^Rotate Left^
21 ^Beziehungsnetz^
22 ^Inbox^
23 ^Hilfe^
24 ^Budget Fenster^
25 ^Select Property View^
26 ^Charakter Name^
27 ^Derzeitige Zeit^
28 ^Available Funds^
29 ^Bookmarks^
30 ^Du hast %d neue Nachricht(en)^
31 ^> ^