1 ^Zum Wähle einen Sim Menü^
2 ^Spiel verlassen^
3 ^Grafik Einstellungen^
4 ^Sound Einstellungen^
5 ^Chat Einstellungen^
6 ^Stadt verlassen^
7 ^Du bist dabei die Stadt zu verlassen. Bist du dir sicher?^

