1 ^Aendere Farbe^
2 ^Score editieren^
3 ^Score erhoehen^
4 ^Score erniedrigen^
5 ^Schliessen^
6 ^Rot^
7 ^Blau^
8 ^Gelb^
9 ^Gruen^
10 ^Orange^
11 ^Lila^
12 ^Weiss^
13 ^Schwarz^
14 ^Laden...^

