1  ^Grundstuecksgroesse^
2  ^%dx%d Fliessen^
3  ^Upgrade Kosten:$%d^
4  ^Geschzte. Gebühren: %d.^
5  ^%d^
6  ^Groesser^
7  ^Kleiner^
8  ^Akzeptieren^
9  ^Req. Roommates: %d^
10 ^Lack of Roommates:$%d^
11 ^Totale Kosten:$%d^
