 1 ^Sardellen^
 2 ^Kaese^
 3 ^Teig^
 4 ^Pilze^
 5 ^Pepperoni^
 6 ^Sauce^
 7 ^brauche Zutaten ^

 8 ^Gross ^
 9 ^Mittel^
10 ^Klein^

11 ^Athletik: ^
12 ^Kochen: ^
13 ^Charisma: ^

14 ^brauche Sim^

15 ^Vier Sims werden zum machen einer Pizza gebraucht.^
16 ^Auf Anruf warten...^
17 ^Bestellung wird entgegen genommen...^
18 ^Jeder Spieler sollte eine Zutat hinzufuegen.^
19 ^Zutaten werden dazugemischt...^
20 ^Pizza wird gebacken...^
21 ^Deine Pizza ist ein Disaster!^
22 ^Gute Arbeit!  Eine erfolgreiche Pizza!^
23 ^Mama-mia!  Perfekte Pizza!^