1  ^Du hast Nachrichten erhalten!^
2  ^Du hast eine neue Mailnachricht. Willst du sie jetzt lesen?^
3  ^Du hast %d neue Mailnachrichten erhalten. Willst du sie jetzt lesen?^
4  ^Sorry. Ich kann jetzt nicht antworten mein Nachrichtlimit wurde erreicht.^
