1 ^In welcher Stadt willst du leben?^
2 ^Ok^
3 ^Abbrechen^
4 ^Hoch scrollen^
5 ^Runter scrollen^
6 ^Stadtname^
7 ^Online^
8 ^Die Sims Online^
9 ^Status^
10 ^Sortieren nach Stadtname^
11 ^Sortieren nach Onlinestatus^
12 ^Sortieren nach Population^
13 ^Sortieren^
14 ^Ja^
15 ^Nein^
16 ^Beschäftigt^
17 ^Voll^
18 ^Beschäftigt/Voll^
19 ^Ok^
20 ^Stadt nicht verf&uuml;gbar^
21 ^Du hast schon einen Sim in der Stadt.Du darfst nur einen Sim pro Stadt haben bitte nehme eine andere Stadt..^
22 ^Stadt ist voll^
23 ^Die Stadt ist voll! Keiner kann neue Sims für diese Stadt erstellen...^
24 ^Stadt ist beschäftigt ^
25 ^Die Stadt wurde temporär geschlossen. Bitte versuche es in wenigen Minuten wieder...^
26 ^Geschlossen^
