1 ^A^
2 ^B^
3 ^C^
4 ^Korrekt:^
5 ^Verident:^
6 ^Warten auf 3 Buchstaben...^
7 ^Resultate werden ueberprueft...^
8 ^/3 von denen Buchstaben sind richtig.^
9 ^Korrekt!^
10 ^Puzzle Pay:^
11 ^Skill Pay:^
12 ^Total:^
13 ^Buchstabe^
14 ^Warten darauf das alle 3 Slots gefuellt wurden^
15 ^Letzter Rat^
16 ^Athletik: ^
17 ^Mechanik: ^
18 ^Logik: ^
