1  ^CSR Tools^
2  ^Eject^
3  ^Hausname^	
4  ^Ausgewaehlter Avatar^
5  ^Entire Lot^
6  ^Avatare^
7  ^Nachrichten an Spieler^
8  ^Log Note^
9  ^Prevent non-CSR entry^
10 ^OK^
11 ^Abbrechen^
12 ^Check this box if you want to prevent non-CSR players from entering this lot until you leave.^

