1  ^Errungenschafts Bonus^
2  ^Datum^
3  ^Gast Bonus^
4  ^Eigentum Bonus^
5  ^Sim Bonus^
6  ^Total Bonus^
7  ^Hochscrollen^
8  ^Runterscrollen^
9  ^Here is a history of bonuses recently awarded to you^
10 ^Total:^