1 ^Grundstuecks Chat (%d) - %s^
2 ^Schliessen^
3 ^Scroll Up^
4 ^Scroll Down^
5 ^Senden^
6 ^<%> hat das Grundstueck betreten^
7 ^<%> hat das Grundstueck verlassen.^
8 ^<%> sagt: ^
9 ^Du sagst: ^