1  ^Delete the selected item from your Backpack^
2  ^Change to the selected item^
3  ^Switch to Daywear^
4  ^Switch to Swimwear^
5  ^Switch to Sleepwear^
6  ^Set as default for this category^
7  ^Objekt entfernen^
8  ^Willst du das Objekt permanent entfernen?^
9  ^Kopf Accesoires^
10 ^Ruecken Accesoires^ 
11 ^Fuss Accesoires^
12 ^Tailen Accesoires^
