
As próximas 5 dicas de ferramentas
1 ^Adicionar uma pessoa^
2 ^Deletar a pessoa selecionada^
3 ^Editar a pessoa selecionada^
4 ^Aceitar mudanças^
5 ^Cancelar^

6 ^Deletar Personagem?^
7 ^Você tem certeza que deseja deletar esse Personagem?^

8 ^Cancelar?^
9 ^Você tem certeza que deseja cancelar e perder essa família?^

// não está sendo usado no momento, mas será
10 ^Projetar uma Família^
11 ^Feito^
12 ^Cancelar^

13 ^Digite o Sobrenome:^

14 ^Finalizado?^
15 ^Você tem certeza de que finalizou?  Você não poderá voltar para tela de Projetar uma Família de novo.^