
Dicas

^Adulto^
^Criança^
^Mulher^
^Homem^
^Preto^
^Medio^
^Branco^
^Corpo Anterior^
^Próximo Corpo^
^Cabeça Anterior^
^Próxima Cabeça^
^Feito^
^Cancelar^

^Sem Personalidade!^
^Você tem certeza que deseja criar o Sim %s sem personalidade?^

// not used yet, but will be:
^CRIAR UM PERSONAGEM^
^PERSONALIDADE^
^Elegante^
^Extrovertido^
^Ativo^
^Divertido^
^Legal^
^FEITO^
^CANCELAR^
^BIO^
^Bio para %s^

^Digite um Nome:^
^Signo^