
kEvictHouseXXX
^Demolir a Casa?^
^Tem certeza que deseja demolir essa casa?^

kEvictFamilyXXX
^Despejar Familia?^
^A %s familia tem um patrimônio líquido de %s.  Você quer expulsa-los?^

kEvictNothingXXX
^Nada para demolir^
^Não há nada aqui para demolir.^

kEvictCommunityXXX
^Espaço Comunitário^
^Você não pode demolir espaços comunitários.^

kEvictMarqueeXXX
^Desculpa^
^Você não pode demolir a marquise de SimEstates.^

kEvictCountNotXXX
^Erro^
^Não foi possível despejar!^

^Desculpa^
^Você não pode demolir a casa do tutorial.^
