^Comprar Casa?^
^Tem certeza de que deseja comprar essa casa?^

^Desculpa!^
^Essa família não pode pagar essa casa.^

^Parabéns!^
^Você a comprou.^

^Comprar Lote?^
^Você deseja comprar esse lote?^

^Comprar casa Pré-feita?^
^Você deseja comprar essa casa pré-feita?^

^Desculpa^
^Você primeiro deve colocar essa família em uma casa^

^Espaço Comunitário^
^Você não pode colocar a família em um espaço comunitário.^

^Casa ocupada^
^Essa casa esta ocupada por outra família.^

^Casa do Tutorial^
^Essa é a casa do Tutorial.  Famílias não podem morar nela.^

^Erro!^
^Não foi possível mover-se!^

^Casa cheia^
^Essa casa está	muito cheia para entrar nesse momento.^
