^Primeiro Andar^
^Segundo Andar^
^Telhado^
^Girar pra esquerda^
^Girar pra direita^
^Aproximar Zoom +^
^Afastar Zoom -^
^Paredes Inteiras^
^Paredes Cortadas^
^Paredes Baixas^
^Modo Simulação - F1^
^Modo de Compra - F2^
^Modo Construção - F3^
^Modo Opções - F5^
^Fundos^
^^
^^
^^
^^
^^
^Contagem de Amigos^

^AM^
^PM^

^Ajuda^
