Esse é o texto apenas para os botões padrões. o verdadeiro texto é armazenado com os objetos
que trazem as caixas de diálogo.

botão ok ^OK^
botão cancelar ^Cancelar^
botão sim ^Sim^
botão não ^Não^
nome padrão da criança ^Criança Sim^
