1  ^Dinheiro^
2  ^Patrimônio Líquido^
3  ^Contas^
4  ^Renda^
5  ^Despesas^
6  ^Dinheiro^
7  ^Patrimônio Líquido^
8  ^Contas^
9  ^Renda^
10 ^Despesas^
11 ^Orçamento^
12 ^Rolar para cima^
13 ^Rolar para baixxo^
14 ^Fechar^
15 ^Valor em Dinheiro:^
16 ^Dinheiro em Objetos:^
17 ^Valor do Objeto:^
18 ^Valor de Arquitetura:^
19 ^Soma Total:^



