^O piso não pode ser modificado^
^A altitude já está o mais alto possível^
^A altitude já está o mais baixo possível^
^O objeto requer uma superfície plana^
^Não é possível dividir um objeto multi-lugar^
^Fundos insuficientes^
^Deve estar no primeiro andar^
