Room sort tooltips

^Sala de Estar^
^Sala de Jantar^
^Quarto^
^Estudo^
^Cozinha^
^Banheiro^
^Lado de fora^
^Variados^

functional sort tooltips

^Assento^
^Superfícies^
^Decoração^
^Entretenimento^
^Eletrodomésticos^
^Encanamento^
^Iluminação^
^Variados^
