^The Sims Online^
^Sair^
^Tem certeza de que deseja sair?^
^Salvar^
^Você deseja salvar o Jogo?^
^Sair^
^Você deseja salvar antes de sair?^
^Redefinir Tutorial^
^Tem certeza de que deseja redefinir o tutorial? A família do lote atual poderá ser removida.^
^O tutorial não pode ser redefinido.^
^Ocorreu um erro ao exportar para HTML^
^Exportar HTML^
^Um erro foi encontrado ao exportar a família.^
^Exportar Familia^
^Um erro foi encontrado ao salvar a casa.^
^Salvar Casa^
^Alguns objetos na propriedade não pode ser carregado.^
^Objetos faltando!^
^A propriedade não pode ser carregada.^
^Carregar propriedade^
^O diretório runtime não pode ser localizado.^
^Erro Fatal^
^Texturas em falta!^
^As texturas a seguir não podem ser carregadas. As pessoas talvez não possam enxergar direito.^
^Erro no Modo de Espera^
^Modo de Espera indisponível enquanto jogar o jogo.^
^O jogo está sendo fechado^
