^Página anterior^
^Próxima página^
^Fundos Insuficientes^
^Sem descrição^
^Maxis™ é uma marca da Electronic Arts™.^
^(c) 2002 - 2015 Electronic Arts Inc. Todos os direitos reservados.^
^Mais compatível com: ^
^Menos compatível com: ^
^Desativar Dicas Rápidas?^
^Dicas rápidas permite que uma janela pop-up apareça sem pausar ou exigir um clique do mouse. Agora se você for famiiliarizado com o jogo, gostaria de desativar as Dicas Rápidas?^
^^ 'The Sims Versão 1.0'
^Versão de Teste^
^Classificação da casa^
^^ tem 'Classificação de amigos'
^^ tem 'Classificação de trabalho'
^Classificação de Humor^
^^ tem 'Escola'
^Erro interno:%ld^

