^Iniciando TSO^
^Registrando Recuros^
^Ajustando Controles^
^Iniciando Gráficos^
^Carregando Mundo Global^
^Calculando Coeficientes Domésticos^
^Reajustando Escada da Carreira^
^Acessando Banco Central^
^Hackeando a Rede Social^
^Baixando Splines Reticulados^
^Ajustando Pesos Emocionais^
^Calibrando a Matrix de Personalidade^
^Ajustando personfinder^
^Terminando a Inicialização^
^Ajustando Controle de Caos^
^Carregando Personagens^
^Ajustando Objetos^
