^O jogo não pode ser iniciado por causa de:^
^DirectX 7 é necessario. E não pode ser localizado.^
^Erro Fatal!^
^O jogo requisita um processador Pentium (ou equivalente), ou melhor. Um não foi encontrado.^
^A cor deve ser definida para 16 bit (Altas cores).^
^Sistema Operacional não reconhecido. Deve ser rodado em um Windows 98, XP ou ME.^
^A resolução da tela é muito baixa. Ajuste para 800x600, 1024x768, ou maior.^
^The Sims Online já está sendo executado!^
^A placa de video padrão não suporta Milhares de cores.^
^Sair Agora.^
^Não há memória ou espaço no Disco Rígido para executar.^
^The Sims Online não suporta a mudança de resolução enquanto está sendo executado.	O jogo deve ser fechado agora.^
^The Sims Online não suporta a mudança de resolução enquanto está sendo executado.	O jogo deve ser fechado agora.^
^Não Suportado!^
