^Não há nenhuma ação disponível^
^Só pode ser usado por adultos^
^Só pode ser usado por crianças^
^Só pode ser usado por cachorros^
^Só pode ser usado por gatos^
^Só pode ser usado por animais de estimação^
^Só pode ser usado por people^
^Só pode ser usado por animais de estimação automáticos^
^O Sim está carregando algo^
^%s - (ignorando você)^
^Colega de Quarto - %s^
^Dono - %s^
^Colega de Quarto - %s - (ignorando você)^
^Dono - %s - (ignorando você)^
^%s está deixando o lote^
^Pessoa^
^Objeto aguarda a exclusão, porque seu dono mudou-se para fora^
^O Sim esta ocupado...^
^%s - (Você está ignorando esse Sim)^
^Colega de Quarto - %s - (Você está ignorando esse Sim)^
^Dono - %s - (Você está ignorando esse Sim)^
^A categoria de propriedade local não permite a interação com este objeto^
^Preço de venda: %s
À venda: %s^
^Selecione no Modo Comprar para informações de compra^
^Esse objeto está temporariamente desativado^
^Desligado^
^A manutenção do proprietário é necessário^
^A transação de compra não foi concluida^
