^Fome: %d^
^Conforto: %d^
^Higiene: %d^
^Banheiro: %d^
^Energia: %d^
^Diversão: %d^
^Sono: %d^
^+ Cozinhar^
^+ Mecânico^
^+ Lógica^
^+ Físico^
^+ Criatividade^
^+ Carisma^
^ ^
^ ^
^Só pode ser usado por crianças^
^Atividade em Grupo^
