1 ^Sair ou deslogar do jogo^
2 ^Nome do Sim^
3 ^Descrição do Sim^
4 ^Criar um Novo Sim^
5 ^Retirar Esse Sim^
6 ^Ir para Vista da Cidade^
7 ^Clique para ir para cidade e entrar na sua propriedade^
8 ^Desconhecido^
9 ^Deletar Sim^
10 ^Se você retirar o seu Sim você irá perder todo seu dinheiro, objetos, amigos, favoritos, propriedades, etc. - você tem certeza de que deseja retirar-los?^
11 ^Clique para entrar na Cidade^
12 ^Clique para Criar um Novo Sim^
13 ^Entrar no Jogo^
14 ^Descrição do Sim^
15 ^Rolar para Cima^
16 ^Rolar para Baixo^
17 ^Seus Sims: Com qual deles você deseja jogar?^
18 ^%.2d:%.2d^
19 ^Aviso de limite de tempo^
20 ^Você tem menos de %d minutos para selecionar ou criar um Sim. Você será levado para tela de login se esse expirar...^
21 ^Agora você tem menos de %d minutos para selecionar ou criar um Sim. Você será levado para tela de login se esse expirar...^
22 ^Erro ao retirar Avatar^
23 ^ -- Avatares só podem ser retirados uma vez cada 7 dias por cidade.^
24 ^Essa cidade está offline agora.^
25 ^Desculpa, essa cidade está temporariamente superlotada agora. Por favor, tente novamente mais tarde!^
26 ^Créditos^
27 ^Livre Arbítrio^
28 ^Ver ou criar Sims em uma cidade de "Livre Arbítrio"^
