1  ^Modo Simulação - F1^
2  ^Modo Comprar - F2^
3  ^Modo Construção - F3^
4  ^Modo Propriedade - F4^
5  ^Opções - F5^
6  ^Primeiro Andar^
7  ^Segundo Andar^
8  ^Descer Paredes^
9  ^Paredes Cortadas^
10 ^Paredes Altas^
11 ^Telhado^
12 ^Zoom Perto^
13 ^Zoom Médio^
14 ^Zoom Distante^
15 ^Vizinhança^
16 ^Cidade^
17 ^Aproximar Zoom^
18 ^Afastar Zoom^
19 ^Rotacionar pra Direita^
20 ^Rotacioanr pra Esquerda^
21 ^Tela de Relacionamento^
22 ^Caixa de Entrada^
23 ^Ajuda^
24 ^Janela de Orçamento^
25 ^Selecionar a Visão de Propriedade^
26 ^Nome do Personagem^
27 ^Horário Atual^
28 ^Fundos Disponiveis^
29 ^Favoritos^
30 ^Você tem %d nova mensagem(ns)^
31 ^> ^
