1  ^Página Anterior^
2  ^Próxima Página^
3  ^Assentos^
4  ^Superfícies^
5  ^Decoração^
6  ^Entretenimento^
7  ^Eletrodomésticos^
8  ^Habilidades e Objetos de Trabalho^
9  ^Iluminação^
10 ^Variados^
11 ^Sala de Estar^
12 ^Sala de Jantar^
13 ^Quarto^
14 ^Sala de Estudo^
15 ^Cozinha^
16 ^Banheiro^
17 ^Lado de Fora^
18 ^Inventario^
19 ^Você não pode colocar objetos nessa propriedade se é visitante, mas você pode vender ou negociar objetos do invetario.^
20 ^ModoMapaDeConstrução^
21 ^Objetos para Animais de Estimação^
22 ^Você não pode colocar objetos nesse lote, se já está aqui. Para resolver esse problema, o lote deve ser fechado e reaberto.^
23 ^Você não pode colocar objetos nesse lote se você é um fantasma.^
