1  ^Colegas de Quarto:^
2  ^Permissões de Construção^
3  ^Desmarque essa caixa para remover a permissão de construção^
4  ^Marque essa opção para conceder a permissão de construção^
5  ^Salvar Configurações^
6  ^Desculpa, seu %s privilégio foi revogado pelo dono da propríedade!^
7  ^Privilégios de Colegas de Quarto^
