1  ^Estatísticas da Propriedade:^
2  ^Pés quadrados:^
3  ^Quartos:^
4  ^Banheiros:^
5  ^Andares:^
6  ^Tamanho do Lote:^
7  ^Tamanho^
8  ^Mobília^
9  ^Jarda^
10 ^Conservação^
11 ^Layout^
12 ^Pequeno^
13 ^Médio^
14 ^Grande^
