1  ^Feito^
2  ^Cancelar^
3  ^Fechar^
4  ^Tipo de Problema Assédio^
5  ^Tipo de Problema Prisão^
6  ^Tipo de Problema Outros^
7  ^Descrição do Problema^
8  ^Entrar em Contato com o Atendimento ao Cliente^
9  ^Por favor descreva seu problema no espaço abaixo:^
10 ^Tipo do Problema:^
11 ^Assédio^
12 ^Prisão^
13 ^Outros^
14 ^Notificação do Atendimento ao Cliente^    Disciplinary Action dialog Title - Used in SystemMessageRegulator.cpp	JPS 6/16/2002

Below strings are for the Global Petitioning System. Added by adavies@ea.com 7/1/2002

15 ^Problema Enviado^  
16 ^Falha ao Enviar Problema^  
17 ^O incidente foi registrado e tomaremos as medidas apropriadas.  Por favor note que qualquer Sims que você tenha dado queixa foi adicionado a sua lista de ignorados. Obrigado.^
18 ^Houve um problema ao registrar o seu incidente. Por favor Contate o Suporte da EA. Por favor note que qualquer Sims que você tenha dado queixa foi adicionado a sua lista de ignorados. Obrigado.^

19 ^Problema Resolvido^
20 ^Seu problema foi resolvido^
