1 ^Insira uma sequência numérica de 1 - 9 digitos. Esse código é necessário para passar por.^
2 ^Taxa de Passagem^
3 ^Isento:^
4 ^Amigos^
5 ^Empregados^
6 ^Permitir a esses Sims passarem por essa porta^
7 ^Colegas de Quarto^
8 ^Visitantes^
9 ^Permissão da Porta^
10 ^Pagar Porta^
11 ^Código da Porta^
12 ^Código Secreto^
13 ^Taxa de Passagem^
14 ^Saindo^
15 ^Carregando...^
16 ^$^
