1  ^Sims Favoritos^
2  ^Ignorar Lista^
3  ^Página do Sim^
4  ^Deletar Favorito^
5  ^Enviar Mensagem^
6  ^Fechar^
7  ^Rolar para Cima^
8  ^Rolar para Baixo^
9  ^Adicionar esse novo amigo aos Favoritos?^
10 ^Você fez um Amigo!^
11 ^Remover da lista dos ignorados^
12 ^Não foi possivel desfavoritar o Colega de Quarto^
13 ^O Colega de Quarto já está favoritado^
