1 ^Fechar^
2 ^Iniciar^
3 ^Pausar^
4 ^Aumentar Minutos^
5 ^Diminuir Minutos^
6 ^Aumentar Segundos^
7 ^Diminuir Segundos^
8 ^Ajustar o Temporizador^
9 ^Escolher o Modo de Tempo^
10 ^Cronômetro^
11 ^Contagem Regressiva^
12 ^Ajustar o Temporizador^
13 ^:^

