1 ^Mudar Cor^
2 ^Mudar Pontuação^
3 ^Aumentar Pontuação^
4 ^Diminuir Pontuação^
5 ^Fechar^
6 ^Vermelho^
7 ^Azul^
8 ^Amarelo^
9 ^Verde^
10 ^Laranja^
11 ^Roxo^
12 ^Branco^
13 ^Preto^
14 ^Carregando...^

