1  ^Tamanho do Lote^
2  ^%dx%d Pisos^
3  ^Preço de Aprimoramento:$%d^
4  ^Taxa de Proteção: %d.^
5  ^%d^
6  ^Maior^
7  ^Menor^
8  ^Aceitar^
9  ^Colegas de querto requeridos: %d^
10 ^Falta de Colegas de Quarto:$%d^
11 ^Preço Total:$%d^
