1 ^Adicionar esse Sim aos Banidos da Sua Propriedade.^
2 ^Adicioanr esse Sim à sua lista de ignorados.^
3 ^Você enxotou "%s" da sua propriedade. Deseja banir ou ignorar ele?^
4 ^Banir ou Ignorar um Sim^
5 ^Esse Sim foi Adicionado à sua Lista de Banidos. Você terá que ativar a Lista de Banidos no Painel da Propriedade para fazer efeito.^
6 ^Informação de Ban^
