1 ^Falha ao Redimensionar^
2 ^Você tem uma arquitetura ou objetos fora da área de construção.  Você deve mover ou excluir os objetos e a arquitetura que estará na área não construível.^
3 ^Você não pode paga-lo.^
4 ^Você precisa de pelo menos %d colegas de quarto para aumentar o tamanho da propriedade.  ^
5 ^Atualmente há apenas %d colegas de quarto.^
6 ^Aqui tem apenas %d colegas de quarto.^
