1  ^Você recebeu uma Mensagem!^
2  ^Você recebeu 1 email. Gostaria de lê-lo agora?^
3  ^Você recebeu %d novos emails. Gostaria de lê-los agora?^
4  ^Desculpa. Não foi possivel responder. A fila de mensagens está cheia.^
