1 ^Norte^
2 ^Sul^
3 ^Leste^
4 ^Oeste^
5 ^Esperando por Jogador de Lógica^
6 ^Esperando por Jogador de Carisma^
7 ^Pagamento^
8 ^Pagamento Total: $%d^
9 ^Suas Perdas^
10 ^Parabéns!^
11 ^Desculpa, Tente Novamente!^
12 ^Pagamento Base: $%d
Penalidade por excesso de trabalho: -$%d
Pagamento Total: $%d^
