1 ^A^
2 ^B^
3 ^C^
4 ^Correto:^
5 ^Ganhou:^
6 ^Aguardando por três letras...^
7 ^Checando o Resultado...^
8 ^/3 dessas letras estão corretas.^
9 ^Correto!^
10 ^Pagamento por Quebra-Cabeça:^
11 ^Pagamento por Habilidade:^
12 ^Total:^
13 ^Letras^
14 ^Aguardando todos os três slots serem preenchidos^
15 ^Última Resposta^
16 ^Físico: ^
17 ^Mecânica: ^
18 ^Lógica: ^
