1  ^Ferramentas CSR^
2  ^Ejetar^
3  ^Nome da Casa^	
4  ^Selecionar Avatares^
5  ^Totalidade do Lote^
6  ^Avatares^
7  ^Mensagem aos Jogadores^
8  ^Nota de Registro^
9  ^Evitar entrada não CSR^
10 ^OK^
11 ^Cancelar^
12 ^Marque essa caixa se você deseja evitar entrada de jogadores não CSR nesse lote quando você sair.^

