1  ^Bônus de Conquista^
2  ^Data^
3  ^Bônus de Visitante^
4  ^Bônus de Propriedade^
5  ^Bônus de Sim^
6  ^Bônus Total^
7  ^Rolar para Cima^
8  ^Rolar para Baixo^
9  ^Aqui está um histórico dos bônus concedidos à você recentemente^
10 ^Total:^
