1  ^Ás^
2  ^Dois^
3  ^Três^
4  ^Quatro^
5  ^Cinco^
6  ^Seis^
7  ^Sete^
8  ^Oito^
9  ^Nove^
10 ^Dez^
11 ^Jack^
12 ^Rainha^
13 ^Rei^
14 ^ de ^
15 ^Espadas^
16 ^Corações^
17 ^Clubes^
18 ^Diamantes^
19 ^Coringa^
