1  ^Façam suas Apostas... ^
2  ^Negociando.^
3  ^Sua Rodada.^
4  ^vez de '.^
5  ^vez de '.^
6  ^Pedir Carta^
7  ^Parar^
8  ^Dividir^
9  ^Dobrar^
10 ^Depois dessa rodada a mesa será fechada.^
11 ^Você ganhou $%d.^
12 ^%s ganhou $%d.^
13 ^Você deseja comprar um seguro?^
14 ^Fazer Aposta^
15 ^Adicionar $%d à aposta^
16 ^Aposta Total:^
