1  ^Experimentar o Item Selecionado^
2  ^Comprar o Item Selecionado^
3  ^Nome da Categoria^
4  ^Preço do Item^
5  ^Comprar Item^
6  ^Ótima Escolha! Você deseja coloca-lo agora?^
7  ^Navegando na Categoria...^
8  ^Essa Roupa não é para o seu gênero.^
9  ^Você não pode pagar esse Item.^
10 ^Você não tem mais espaço na sua Mochila.^
