1  ^Deletar os itens selecionados da sua Mochila^
2  ^Mudar os itens Selecionados^
3  ^Mudar para Roupa Casual^
4  ^Mudar para Roupa de Mergulho^
5  ^Mudar para Pijama^
6  ^Definir como padrão para essa categoria^
7  ^Deletar Item^
8  ^Você realmente deseja deletar esse item permanentemente?^
9  ^Acessório de Cabeça^
10 ^Acessório de Costas^ 
11 ^Acessório de Pés^
12 ^Acessório de Cauda^
