
//tooltips

^Voksen^
^Barn^
^Kvinne^
^Mann^
^Mørk^
^Medium^
^Lys^
^Forrige kropp^
^Neste kropp^
^Forrige hode^
^Neste hode^
^Ferdig^
^Avbryt^

^Ingen personlighet!^
^Er du sikker på at du vil lage %s uten personlighet?^

// not used yet, but will be:
^OPPRETT EN PERSON^
^PERSONLIGHET^
^Ryddig^
^Utadvendt^
^Aktiv^
^Leken^
^Snill^
^FERDIG^
^AVBRYT^
^BIOGRAFI^
^Biografi for %s^

^Skriv navn:^
^Astrologisk tegn^