^Kjøpe hus?^
^Er du sikker på at du vil kjøpe dette huset?^

^Beklager!^
^Denne familien har ikke råd til dette huset.^

^Gratulerer!^
^Du kjøpte det.^

^Kjøpe tomt?^
^Vil du kjøpe denne tomten?^

^Kjøpe ferdiglaget?^
^Vil du kjøpe et ferdiglaget hus?^

^Beklager^
^Du må først plassere denne familien i et hus^

^Fellestomt^
^Du kan ikke plassere denne familien på en fellestomt.^

^Hus opptatt^
^Dette huset er okkupert av en annen familie.^

^Tutorial hus^
^Dette er et tutorial-hus.  Familier kan ikke flytte inn i det.^

^Feil!^
^Kunne ikke flytte inn!^

^Hus fullt^
^Dette huset er for fullt til at du kan komme inn akkurat nå.^