^Første etasje^
^Andre etasje^
^Tak^
^Roter mot venstre^
^Roter mot høyre^
^Zoom inn +^
^Zoom ut -^
^Vegger oppe^
^Gjennomsiktige vegger^
^Vegger nede^
^Levemodus - F1^
^Kjøpemodus - F2^
^Byggemodus - F3^
^Innstillinger - F5^
^Tilgjengelige midler^
^^
^^
^^
^^
^^
^Antall venner^

^AM^
^PM^

^Hjelp^
