1 ^ Penger ^
2 ^ Nettoverdi ^
3 ^ Regninger ^
4 ^ Inntekt ^
5 ^ Utgifter ^
6 ^ Penger ^
7 ^ Nettoverdi ^
8 ^ Regninger ^
9 ^ Inntekt ^
10 ^ Utgifter ^
11 ^ Budsjett ^
12 ^ Rull opp ^
13 ^ Rull ned ^
14 ^ Lukk ^
15 ^ Pengeverdi: ^
16 ^ Penger i objekter: ^
17 ^ ObjektsVerdi: ^
18 ^ Arkitekturverdi: ^
19 ^ Sum totalt: ^



