^Flis kan ikke endres^
^ Flis kan ikke endres ^
^ Høyde er allerede så høyt som mulig ^
^ Høyde er allerede så lav som mulig ^
^ Objekt krever flatt underlag ^
^ Kan ikke dele et multi-flis objekt ^
^ Ikke tilstrekkelig med midler ^
^ Må være på første etasje ^
