^The Sims Online^
^Avslutt^
^Er du sikker på at du vil avslutte?^
^Lagre^
^Vil du lagre spillet?^
^Avslutt^
^Vil du lagre før du avslutter?^
^Tilbakestill opplæringen^
^Er du sikker på at du vil tilbakestille opplæringen? Den nåværende familie i den tomten vil bli kastet ut.^
^Opplæringen kunne ikke tilbakestilles.^
^En feil oppstod under eksportering av HTML^
^Eksporter HTML^
^En feil oppstod under eksportering av familien.^
^Eksporter familien^
^En feil oppstod under lagring av huset.^
^Lagre huset^
^Noen objekter på eiendommen kunne ikke lastes.^
^Objekter mangler!^
^Eiendommen kunne ikke lastes.^
^Last eiendom^
^Applikasjonskatalogen kunne ikke lokaliseres.^
^Fatal feil^
^Mangler teksturer^
^Følgende teksturer kunne ikke lastes. Folk ser kanskje ikke riktige ut.^
^Ventemodusfeil^
^Ventemodus ikke tilgjengelig mens spillet spilles.^
^Spillet slås nå av.^