^Starter applikasjonsinitialiseringen^
^Registrerer ressurser^
^Setter opp kontroller^
^Initialiserer grafikk^
^Ekstruderer terrengnettet^
^Beregner husholdningskoeffisienter^
^Justerer karrierestige^
^Får tilgang til pengeforsyninger^
^Hacker det sosiale nettverket^
^Laster ned retikulerte riller^
^Justerer emosjonelle tyngder^
^Kalibrerer personlighetsmatrise^
^Setter opp personsøker^
^Applikasjonsinitialisering ferdig^
^Tilpasser kaoskontroll^
^Laster karakterer^
^Setter opp objekter^
