^Spillet kan ikke startes fordi:^
^DirectX 7 er påkrevet. Det fantes ikke.^
^Fatal feil!^
^Spillet krever en Pentium prosessor (eller tilsvarende), eller bedre. Fant ikke en slik.^
^Farger må settes til 16 bit (high color).^
^Operativsystem ikke gjenkjent. Må kjøres i Windows 98, XP eller ME.^
^Skjermoppløsningen er for lav. Sett til 800x600, 1024x768, eller høyere.^
^The Sims Online kjører allerede!^
^Grafikkkortet støtter ikke tusener av farger.^
^Avslutt nå.^
^Det er ikke nok minne eller harddiskplass til å kjøre.^
^The Sims Online støtter ikke å forandre skjermoppløsningen mens spillet kjører. Spillet må avsluttes nå.^
^The Sims Online støtter ikke å forandre skjermoppløsningen mens spillet kjører. Spillet må avsluttes nå.^
^Ikke støttet!^
