^Det er ingen handlinger tilgjengelige^
^Dette kan bare brukes av voksne^
^Dette kan bare brukes av barn^
^Dette kan bare brukes av hunder^
^Dette kan bare brukes av katter^
^Dette kan bare brukes av kjæledyr^
^Dette kan bare brukes av folk^
^Dette kan bare brukes av auto-kjæledyr^
^Sim bærer på noe^
^%s - (ignorerer deg)^
^Romkamerat - %s^
^Eier - %s^
^Romkamerat - %s - (ignorerer deg)^
^Eier - %s - (ignorerer deg)^
^%s forlater tomten^
^Person^
^Objektet venter på å slettes fordi dets eier har flyttet ut^
^Sim er opptatt...^
^%s - (du ignorerer denne simmen)^
^Roommate - %s - (du ignorerer denne simmen)^
^Owner - %s - (du ignorerer denne simmen)^
^Den lokale eiendomskategorien tillater ikke interaksjon med dette objektet^
^Utsalgspris: %s
På salg: %s^
^Velg i Kjøpsmodus for kjøpsinformasjon^
^Dette objektet er midlertidig deaktivert^
^Slått av^
^Vedlikehold av eier påkrevd^
^Kjøpstransaksjon ikke ferdig^
