^Sult: %d^
^Komfort: %d^
^Hygiene: %d^
^Blære: %d^
^Energi: %d^
^Gøy: %d^
^Rom: %d^
^+ Koking^
^+ Mekanisk^
^+ Logikk^
^+ Kropp^
^+ Kreativitet^
^+ Karisma^
^ ^
^ ^
^Kan bare brukes av barn^
^Gruppeaktivitet^
