1 ^Avslutt eller logg ut av spillet^
2 ^Simnavn^
3 ^Beskrivelse av sim^
4 ^Lag en ny sim^
5 ^Slett denne simmen^
6 ^Gå til kartoversikt^
7 ^Klikk for å gå til byen og entre din eiendom^
8 ^Ukjent^
9 ^Slette sim^
10 ^Hvis du sletter din sim vil du miste alle dens penger, objekter, venner, bokmerker, eiendommer, etc. - er du sikker på at du vil slette den?^
11 ^Klikk for å gå til byen^
12 ^Klikk for å lage en ny sim^
13 ^Entre spillet^
14 ^Beskrivelse av sim^
15 ^Rull opp^
16 ^Rull ned^
17 ^Dine simmer: hvilken vil du spille?^
18 ^%.2d:%.2d^
19 ^Tidsavbrudds-varsel^
20 ^Du har mindre enn %d minutter til å velge eller lage en ny sim. Du vil bli tatt tilbake til innloggingsskjermen når telleren utløper...^
21 ^Du har nå mindre enn %d minutter til å velge eller lage en ny sim. Du vil bli tatt tilbake til innloggingsskjermen når telleren utløper...^
22 ^Feil under sletting av avatar^
23 ^ -- Avatarer kan bare hentes en per 7 dager per by.^
24 ^Denne byen er ikke online akkurat nå.^
25 ^Beklager, denne byen er midlertidig full akkurat nå. Vennligst forsøk igjen senere!^
26 ^Rulletekst^
27 ^Fri vilje^
28 ^Se eller lag simmer i en "Fri vilje" by^