1  ^Avbryt^
2  ^Aksepter^
3  ^Skriv din sims navn her. Dette er navnet andre spillere vil kjenne deg som - det kan ikke endres senere.^
4  ^Andre spillere vil være i stand til å se denne beskrivelsen fra din simside i spillet. Ikke bekymre deg om å få det helt riktig ... du kan endre det senere.^
5  ^Avslutt spillet^
6  ^Kvinne^
7  ^Mann^
8  ^Lys hud^
9  ^Medium hud^
10 ^Mørk hud^
11 ^Navnet du har skrevet er ugyldig. Følgende problem(er) har blitt oppdaget:^
12 ^- Navnet er for kort. Må være minst tre bokstaver.^
13 ^- Navnet er for langt. Maksimum 24 bokstaver er tillatt.^
14 ^- Ingen numeriske (0-9) tegn er tillatt.^
15 ^- Bare en apostrof (') tillatt.^
16 ^- Bare en bindestrek (-) tillatt.^
17 ^- Bare to ikke-sammenhengende mellomrom tillatt.^
18 ^- Ingen spesielle tegn tillatt.^
19 ^- Et reservert eller upassende ord har blitt oppdaget.^
20 ^Rull opp^
21 ^Rull ned^
22 ^Lag din identitet i spillet^
23 ^Fav. musikk: 
Fav. film:
Turn ons:
Turn offs:
 Sitat: ^
24 ^Oppretter ny sim...^
25 ^Vennligst vent mens din nye sim opprettes...^