1  ^Levemodus - F1^
2  ^Kjøpsmodus - F2^
3  ^Byggemodus - F3^
4  ^Eiendomsmodus - F4^
5  ^Innstillingsmodus - F5^
6  ^Første etasje^
7  ^Andre etasje^
8  ^Vegger nede^
9  ^Gjennomsiktige vegger^
10 ^Vegger oppe^
11 ^Tak^
12 ^Nært^
13 ^Medium^
14 ^Langt borte^
15 ^Nabolag^
16 ^By^
17 ^Zoom inn^
18 ^Zoom ut^
19 ^Roter til høyre^
20 ^Roter til venstre^
21 ^Forholdsnett^
22 ^Innboks^
23 ^Hjelp^
24 ^Budsjettsvindu^
25 ^Velg eiendoms-vindu^
26 ^Karakternavn^
27 ^Nåværende tid^
28 ^Tilgjengelige midler^
29 ^Bokmerker^
30 ^Du har %d nye melding(er)^
31 ^> ^