1  ^Forrige side^
2  ^Neste side^
3  ^Sitteplasser^
4  ^Overflater^
5  ^Dekorativt^
6  ^Undeholdning^
7  ^Apparater^
8  ^Ferdighets- og jobbobjekter^
9  ^Lys^
10 ^Diverse^
11 ^Stue^
12 ^Spisestue^
13 ^Soverom^
14 ^Studierom^
15 ^Kjøkken^
16 ^Baderom^
17 ^Ute^
18 ^Inventar^
19 ^Du kan ikke plassere objekter på denne eiendommen som en besøkende, men du kan fortsatt selge tilbake eller bytte objekter i inventaret ditt.^
20 ^Kartbyggingsmodus^
21 ^Kjæledyr og kjælrdyrsobjekter^
22 ^Du kan ikke plassere dette objektet på denne tomten, siden det allerede er her. For å løse dette problemet må tomten være lukket og gjenåpnet.^
23 ^Du kan ikke plassere objekter på denne eiendommen som et spøkelse.^