1  ^Romkamerater:^
2  ^Byggetillatelse^
3  ^Fjern haken for å fjerne byggetillatelse^
4  ^Klikk i denne boksen for å gi byggetillatelse^
5  ^Lagre innstillinger^
6  ^Beklager, ditt %s privilegie har blitt opphevet av eier!^
7  ^Romkamerat-privilegier^
