1  ^Eiendomsstatistikk:^
2  ^Kvadratmeter:^
3  ^Soverom:^
4  ^Bad:^
5  ^Etasjer:^
6  ^Tomtestørrelse:^
7  ^Størrelse^
8  ^Møbler^
9  ^Hage^
10 ^Vedlikehold^
11 ^Oppsett^
12 ^Liten^
13 ^Medium^
14 ^Stor^