1 ^Gå til velg en sim-skjermen^
2 ^Avslutt spillet^
3 ^Grafikkinnstilinger^
4 ^Lydinnstillinger^
5 ^Chatteinnstillinger^
6 ^Forlate byen^
7 ^Du holder på å forlate byen. Er du sikker på at du vil fortsette?^

