1 ^Angi en numerisk sekvens på 1-9 sifre. Denne koden vil være nødvendig for å passere gjennom.^
2 ^Døravgift^
3 ^Fritatt:^
4 ^Venner^
5 ^Ansatte^
6 ^Tillat disse simmene å passere gjennom denne døren^
7 ^Romkamerater^
8 ^Besøkende^
9 ^Tillatelsesdør^
10 ^Betalingsdør^
11 ^Kodedør^
12 ^Hemmelig kode^
13 ^Døravgift^
14 ^Avslutning^
15 ^Laster...^
16 ^$^
