1  ^Bokmerkede simmer^
2  ^Ignoreringsliste^
3  ^Sim-side^
4  ^Slett bokmerke^
5  ^Send melding^
6  ^Lukk^
7  ^Rull opp^
8  ^Rull ned^
9  ^Legg denne nye vennen til dine bokmerker?^
10 ^Du fikk en ny venn!^
11 ^Fjern fra ignoreringslisten^
12 ^Kan ikke fjerne romkamerat^
13 ^Romkamerater er alltid bokmerket.^
