1 ^Lukk^
2 ^Spill^
3 ^Pause^
4 ^Øk minutter^
5 ^Minsk minutter^
6 ^Øk sekunder^
7 ^Minsk sekunder^
8 ^Sett tidtager^
9 ^Velg tidtagningsmodus^
10 ^Stoppeklokke^
11 ^Nedtelling^
12 ^Sett tidtager^
13 ^:^

