1  ^Tomtestørrelse^
2  ^%dx%d fliser^
3  ^Oppgraderingskostnad:$%d^
4  ^Est. skatt: %d.^
5  ^%d^
6  ^Større^
7  ^Mindre^
8  ^Godta^
9  ^Antall romkamerater påkrevd: %d^
10 ^Manglende romkamerater:$%d^
11 ^Total kostnad:$%d^
