 1 ^Ansjoser^
 2 ^Ost^
 3 ^Deig^
 4 ^Sopp^
 5 ^Pepperoni^
 6 ^Saus^
 7 ^trenger ingrediens^

 8 ^Stor ^
 9 ^Medium ^
10 ^Liten ^

11 ^Kropp: ^
12 ^Koking: ^
13 ^Karisma: ^

14 ^trenger sim^

15 ^Fire simmer er nødvendig for å lage en pizza.^
16 ^Venter på en samtale ...^
17 ^Tar en bestilling...^
18 ^Hver spiller må legge til en ingrediens.^
19 ^Ingredienser legges til...^
20 ^Baker pizzaen...^
21 ^Deres pizza ble brent!^
22 ^Godt jobba!  En vellykket pizza!^
23 ^Mama-mia!  En utmerket pizza!!^