1 ^Legg denne simmen til din eiendoms blokkeringsliste.^
2 ^Legg denne simmen til din blokkeringsliste.^
3 ^Du har sparket "%s" ut av din eiendom. Vil du blokkere eller ignorere dem?^
4 ^Blokkere eller ignorere en sim^
5 ^Denne spilleren har blitt lagt til i din ignoreringsliste. Du må aktivere blokkeringslisten i eiendomspanelet for at forbudet skal tre i kraft.^
6 ^Blokkeringsinfo^
