1 ^Dans til musikken^
2 ^Stengt^
3 ^Side Bop^
4 ^Bussjåfør^
5 ^Bølgen^
6 ^Slå ut^
7 ^Shimmy^
8 ^Boogie^
9 ^Pek^
10 ^Shuffle Turn^
11 ^Bekkenfremstøt^
12 ^Signaturpek^
13 ^Apekatten^
14 ^Fristil^
15 ^Shop Around^
16 ^Rumba^
17 ^Hula^
18 ^Hula snu^
19 ^Hæltå^
20 ^Step Turn^
21 ^Scoot^
22 ^Hæl ut inn^
23 ^Zombien^
24 ^Roboten^
25 ^Hyperspinn^
26 ^Moonwalk^
