1 ^Størrelsesendring feilet^
2 ^Du har arkitektur eller gjenstander utenfor det byggbare området. Du må flytte eller slette objekter og arkitektur som vil være i det ikke-byggbare området.^
3 ^Du har ikke råd til det.^
4 ^Du trenger minst %d romkamerater for å øke eiendommen til denne størrelsen.  ^
5 ^Det er foreløpig bare %d romkamerat.^
6 ^Det er for tiden bare %d romkamerat(er).^
