1  ^Du har meldinger!^
2  ^Du har motatt 1 ny melding. Vil du lese den nå?^
3  ^Du har motatt %d nye postmeldinger. Vil du lese dem nå?^
4  ^Beklager, jeg kan ikke svare nå. Min meldingskø er full.^
