 
1  ^Klag på en spiller^
2  ^Trakassering^
3  ^Juksing/utnyttelse^
4  ^Ulovling handling^
5  ^Hatsk språk eller adferd^
6  ^Utilbørlig eiendom/sim/signatur eller beskrivelse^
7  ^Utilbørlig språk i chat eller melding(er)^
8  ^Annet^
9  ^Hvis en annen spiller forårsaker deg sorg, er det viktig at du gjør en legitim innsats for å bedre situasjonen FØR du sender inn en klage. Eksempler på dette er å legge den uakseptable spilleren inn i ignorer-lista, flytte til et annet område, eller høflig be dem om å stoppe. Men hvis du blir stadig trakassert, truet, flau, eller at en annen spiller gjør noe annet som er uønsket, kan du bruke denne kategorien til å sende inn en klage. The Sims Online Personalet vil iverksette nødvendige tiltak.^
10 ^Fusk i The Sims Online er definert som å bruke en ufullkommenhet i spillet eller annen tredjeparts programvare for å oppnå en urettferdig fordel. Hvis en annen spiller nevner at de har funnet en rask måte å få simoleoner som åpenbart ikke er beregnet som en måte å tjene en inntekt, bør denne typen atferd bli rapportert da dette kan være å dra nytte av en feil i spilldesignet ikke ment for spillerbruk. Bruk også denne kategorien dersom du har blitt lurt. Svindel omfatter blant annet feilaktig å framstille ens intensjoner på andres bekostning, svindlerier, misbruk av tillit, anskaffe en annen spillers eiendeler uten avtalt tilbakebetaling, eller nekte å utføre en avtalt tjeneste etter å ha mottatt betaling. The Sims Online-personalet vil iverksette nødvendige tiltak i alle disse sakene.^
11 ^Lovene som gjelder i den vanlige verden må følges på nettet også. Vi har nulltoleranse for ulovlig oppførsel i The Sims Online. Bruk denne klagekategorien dersom en spiller diskuterer temaer som involverer reelle handlinger av kriminalitet, tilsvarende uakseptable temaer, samler kjøpere for objekter i spillet som involverer virkelige kontanter, utgir seg for The Sims Online ansatte, og så videre.^
12 ^Hatefullt språk eller atferd inkluderer (men er ikke begrenset til) kommentarer som er respektløse ovenfor hvilken som helst religion, nasjonalitet, etnisitet eller seksuell legning. I motsetning til trakassering, bør denne klagekategorien brukes når en spiller utfører handlinger i spillet som er generelt forstyrrende for alle andre i spillet. Dette kan gjøres av spillere enten verbalt eller med spillhandlinger, og det er klart at å ignorere dem eller be dem høflig å stoppe ikke har noen virkning.^
13 ^Hvis du legger merke til et skilt eller en beskrivelse på en eiendom eller Sim som er tydelig støtende eller på noen måte upassende, kan du sende en klage ved hjelp av denne kategorien.^
14 ^Du kan ignorere eller filtrere støtende språk gjennom bruk av in-game alternativer. For å ignorere en annen spiller, må du klikke på "Ignorer en sim"-knappen nedenfor og legge krenkende simmer til din faste Ignoreringsliste. For å legge til bestemte ord som du aldri ønsker å se, åpne Chat Filter (ligger i Valg-delen av Universal Kontrollpanel nederst på skjermen) og legge de krenkende ordene til filterlisten. For mer hjelp, trykk "Tilbake" for å gå tilbake til Hjelp-siden og skriv inn spørsmålet ditt.^
15 ^For å få hjelp med spørsmål angående din konto, teknisk support, gameplay spørsmål eller noe annet, trykker du "Tilbake" for å gå tilbake til Hjelp-siden og skrive inn spørsmålet ditt.^
16 ^Vennligst velg en klagetype fra listen til venstre.^
17 ^Vi godtar bare klager angående brudd på The Sims Onlines Vilkår for bruk. Vennligst bruk dette verktøyet kun for legitime klager. Misbruk kan føre til at det iverksettes tiltak mot kontoen din.^
18 ^Hvordan "Ignorere" en annen spiller^
19 ^Gir informasjon om fremgangsmåten for å ignorere en annen spiller i The Sims Online. Merk at dette vil igangsette en nettleser på skrivebordet ditt.^
20 ^Vis The Sims Onlines Vilkår for bruk^
21 ^Gir informasjon om The Sims Onlines Vilkår for bruk. Merk at dette vil igangsette en nettleser på skrivebordet ditt.^
22 ^Tilbake^
23 ^Tilbake til The Sims Onlines Begjære hjelp-dialog.^
24 ^Avbryt^
25 ^Avbryt klageinnsending og returner til The Sims Online.^
26 ^Fortsett^
27 ^Fortsett til neste steg i prosedyren for å sende inn en klage.^
28 ^Ingen klagetype er valgt. Kan ikke fortsette før en klagetype er valgt fra listen til venstre.^
29 ^Upassende chat / meldinger er ikke mulig å klage på (se beskrivelse over). Kan ikke fortsette.^
30 ^"Andre" klager kan ikke klages på (se beskrivelse over). Kan ikke fortsette.^
31 ^http://www.ea.com/global/legal/tos.jsp^
32 ^Vi klarte ikke å starte nettleseren. Hvis du er en AOL-kunde så kan du starte AOL nå og klikke på den samme knappen i denne dialogen igjen. Ellers kan du besøke vårt nettsted på www.TheSimsOnline.com for linker til våre hjelpesider.^
