1 ^Skriv inn ord:^
2 ^Aktiver ukvemsordfilteret^
3 ^Legg til ord^
4 ^Fjern ord^
5 ^Ordoppføring^
6 ^Aktiver filtrering^
7 ^Passordet er ikke korrekt.^
8 ^Feil passord.^
9 ^Ukvemsordfilteret er for øyeblikket låst og kan ikke låses opp i spillet. Hvis du ønsker å låse opp Ukvemsordfilteret, vennligst logg inn på www.ea.com og endre denne innstillingen til kontoen din.^
10 ^Ukvemsordfilteret er låst.^
11 ^Nåværende chatfarge:^
12 ^Velg neste farge^
13 ^Velg forrige farge^
14 ^<SomeColor>^