1 ^Nord^
2 ^Sør^
3 ^Øst^
4 ^Vest^
5 ^Venter på logikkspiller^
6 ^Venter på karismaspiller^
7 ^Utbetaling^
8 ^Total utbetaling: $%d^
9 ^Du tapte^
10 ^Gratulerer!^
11 ^Beklager, prøv igjen!^
12 ^Basisutbetaling: $%d
Overtidsstraff: -$%d
Total utbetaling: $%d^
