1 ^A^
2 ^B^
3 ^C^
4 ^Korrekt:^
5 ^Tjent:^
6 ^Venter på tre bokstaver...^
7 ^Sjekker resultatene...^
8 ^/3 av de bokstavene er riktige.^
9 ^Korrekt!^
10 ^Puslespillutbetaling:^
11 ^Ferdighetsutbetaling:^
12 ^Total:^
13 ^Bokstav^
14 ^Venter på at alle tre plassene skal fylles^
15 ^Siste gjetning^
16 ^Kropp: ^
17 ^Mekanikk: ^
18 ^Logikk: ^
