// city description strings
1 ^Ansett som et land for de som er lekne i ånden, oppfordrer vi partyløver til å føle varmen av Blazing Falls! Kilometer på kilometer med varme tropiske strender, komplimentert av et lite antall øyer med 'brosjyre-kvalitet', synes uoppnåelig, men er godt innenfor rekkevidde i dette pittoreske eventyrland! Bygg din ydmyke bolig eller flammende virksomhet ved sjøen, eller for et taktskifte, flytt til innlandet blant de tropiske grønne skoger.

Et mangfold av paradiser, alt i én by! Hvem ville ikke like å kalle dette drømmelandskapet 'hjem'?^

2 ^Hvis du anser deg selv for å være den flittige typen, begynner det gode liv i Alphaville! Kom og gjør vakre Alphaville til ditt hjem, hvor du kan varme føttene på våre sandstrender, eller kjøle deg ned i våre snødekte fjell. De vakre blå hav og innsjøer lokker deg til å delta i vår verden av sesongbasert prakt.

Enten du søker etter et alpint retrett, eller en kystlinje-bungalow, er det noe for alle i Alphaville.^ 

3 ^Velkommen til testsenteret, hvor du kan velge å leve livet i høyt tempo og med total uforutsigbarhet! Det er her de nyeste teknologiene blir utprøvd og testet, og stier blir tråkket for The Sims Online-verdenen!^

4 ^Hvis du ønsker å tilfredsstille romantikeren i deg, bygg ditt reir i Interhogan! Bygg din hytte på himmelen oppå de snødekte fjellene i Vantro eller konstruer din lille gressrønne på Interhogans ytre banker. Du kan bare ikke trå feil når du velger en eiendom i dette frodige paradis av ro. Nyt innsjøen levende eller start din hyggelige plantasje blant de grønne slettene. Lev og arbeid i fanget av luksus i vakre, romantiske Interhogan!^

5 ^Kreative typer fra hele verden har kastet anker og har valgt å kalle Oceans Edge sin havn! Strender i massevis fremhever landskapet i dette tropiske eventyrlandet. Hvis du liker sjø, sol og sand, er dette stedet for deg. Krystallklart blått varmt vann skvetter forsiktig mot kysten som gir ultimate strandgård-muligheter. Med perfekte omgivelser for landskapsartisten i deg, har Oceans Edge også en stor porsjon bølgende åser, gresskledde grønne enger og til og med en touch av isete hvitt pulver, for den robuste gårdeieren i oss alle. Dykk ned i den kunstneriske skjønnheten i Oceans Edge!^ 

6 ^"Vi er mye bedre enn West Jerome" er slagordet til denne ydmyke industribyen, og innbyggerne kunne ikke ha mer rett! Rolige elver og innsjøer, samt smaragdgrønne beitemarker mot dramatiske klipper utgjør noe av det mest pittoreske landskapet øst for den vestlige halvkule. Boltre deg i engen mens du basker deg i sollyset fra East Jerome! (Ikke tilknyttet West Jerome på noen som helst måte.)^

7 ^Bli med i establissementet av rikdom og skjønnhet i Fancey Fields. Lev livet til noen som blir frastøtt av noe mindre vakkert enn Fancey Fields. Se på de vakre strendene, det vakre vannet, det vakre landskapet, de vakre menneskene. Omgi deg med en vakker eiendom og fyll den med vakre ting. Som grunnleggeren av Fancey Fields, Lee Fancey, sa en gang: "Livet kan være vakkert hvis du stadig tvangsforer deg selv ingenting annet enn skjønnhet." Vakkert. Rett og slett vakkert.^

8 ^Forvent det uventede i Betaville, byen av innovasjon og overraskelser. Våre borgere har egne hoder, og de er ikke redd for å vise det! Enten på jobb eller i lek, vil du alltid finne noen til å bli med deg i denne tett befolkede storbyen. Ingen vil noensinne mangle selskap i Betaville!^

9 ^Charvatia er hjem til mange eksentriske og kreative folk. Fang den tropiske essensen av Charvatia i din bungalow. Bli inspirert av de flammende solnedgangene filtrert forbi de små øyene som utgjør ditt nye hjem i Charvatia! Plukk en eiendom på utkanten av korallagunen og se surferne! Eller bor i det fredelige sentrum hvor dets rolige vann er beskyttet av korallrevet! Charvatia, søte Charvatia - gjør det til det endelige bestemmelsesstedet!^

10 ^En søt vuggesang av hvit-kronede bølger som bryter på sandstrender fortryller dette mystiske landet fra legenden. Venner flokker til fra fjern og nær for å være vitne til den fantasifulle ånd som trollbinder hjertene til innbyggerne. Hvis du klinger til håp, streber etter å nå dine drømmer, og tror ingenting er umulig, så begynn din reise i Dragons Cove. Men vær oppmerksom: Som en klok ridder en gang uttalte: "Ikke bland deg i dragers anliggender, for du er knasende og går godt med ketchup!"^

11 ^Kom og nyt det rustikke livet på Rancho Rizzo! Sal opp og dra langs veien på kilometer etter kilometer med ranch-areal. Lag din gård midt blant støvhvirvler og åpne sletter. Unikt avgrenset med to kystlinjer mot nordøst og sørvest, har Rancho Rizzo masse for alle som søker den rustikke, røffe livsstilen på landet. Legg ditt krav på en tomt og kall Rancho Rizzo ditt hjem.^

12 ^Velkommen til "Landet med en milliard og en halv Innsjøer", vakre, rustikke Zavadaville! Enten du foretrekker det salte havet eller ferskvann, har Zavadaville noe for deg! Mens Zavadaville tidligere var hjem til saltgruver og kaviargårder, kan den nå skryte av verdens største kombinerte industri av samlersaltbøsser og snacksproduksjon! Plenty av strandeiendommer fremhever denne vakre smaragdoasen. Hvis uformell sjarm og et rustikt liv er det du ønsker, er Zavadaville for deg!^

13 ^Alle hilser den strålende regionen som historikere kaller Dronning Margaret! Aldri vil du se en vakrere by enn den oppkalt etter sin like vakre Matriark, dronning Margaret. Full av undring og visuell glede, er dette området rikt på både tradisjon og historie. Legenden skal ha det til at den første kolonien av sims ble etablert langs bredden av Ng-elven, som skjærer gjennom et plettfritt smaragdlandskap. Beundre de snødekte toppene på Mount Høyhet og titt på den blikkstille auraen av Delta-dynastiet. Enten du er av kongelig eller vanlig blodslinje, er Dronning Margaret er stedet for deg!^

14 ^Velkommen til det futuristiske landskapet Shannopolis! Pionerene av futuristisk tenkning velger å samles på multi-terreng landskapet i denne fantastiske byen. Skjær ut din nisje i de snødekte fjellene i Polar Peaks, eller gre din favorittstrand og sett opp butikk. Krystallklart vann og gyldne sandstrender resulterer i noen av områdets mest ettertraktede eiendommer. Skap din fremtid i Shannopolis!^

15 ^Ingen annen by har like stort kulturelt mangfold som Grantley Grove! Hvem er du til å motstå sjarmen og tiltrekningen til Grantley Grove? Jada, du kan ha venner som bor et annet sted, men mellom oss to, vi vet begge at de skulle ønske de levde i Grantley Grove. Hvor ellers kan du nyte snø, sol og brenninger - alt på samme sted? Gråt av skjønnheten til den nydelige kysten, bli tåkete av Pixel Peaks fantastiske prakt, for deretter å le av ulykken til de som ikke bor der.^

16 ^Velkommen til romantiske Calvins Creek! Tonnevis av eiendom med prima beliggenhet ved vannet preger denne oasen av ro. Hvis du liker kjølig vann og frodige Elysian Fields, er Calvins Creek stedet du bør lage ditt hjem. Hvite sandstrender er lett tilgjengelige. Tenk deg et soverom med oseanisk utsikt og en feiende smaragdbakgård. Alt dette kan bli ditt i Calvins Creek.^

17 ^The Billabong representerer alt som er australsk ... pionerånd, kameratskap, samhold og en avslappet, laidback livsstil. Det er et sånt sted du kan stikke innom for å si G'Day, og ender opp med å bo en stund. Enten du ønsker å lage egen din formue, bygge et imperium, eller rett og slett komme sammen med kamerater for en god gammeldags prat, er The Billabong stedet for deg. Så rull opp din swag, ta med noen kamerater og stikk "Down Under". Putt en reke på grillen, følg med på cricket, glem det hektiske tempoet i verden utenfor, og bare nyt den berømte australske gjestfriheten. Alle er velkommen til å føle seg som hjemme i The Billabong!^

18 ^Lag hjemmet ditt i futuristiske omgivelser midt på den disige toppen av Mount Fuji! Enten du er en kreativ klippeinnbygger eller en visjonær strand eremitt, er det rikelig med førsteklasses eiendom for deg hvor du kan starte ditt hjem for fremtiden. Utvikle din innovative 2020-ranch ved Lake Biwa eller pakk opp dine frysetørkede eiendeler og banebrytende eksperimenter i Frigid Fields. Uansett hvilken sesong du foretrekker, kan din ideelle omegn finnes i revolusjonerende Mount Fuji!^

19 ^Hvis du ønsker en rustikk livsstil, velg det sunne livet i Dans Grove. Dette stedet, en gang hjem til frukt- og nøttetreplantasjer, er nå ansett å være blant av de mest attraktive områdene i hele landet. Det som gjør denne byen enda mer attraktiv er dens moderate klima, grønne enger og isblå vann. Bygg ditt rede i vakre Dans Grove!^

20 ^Jolly Pines er kjent for sin populære underholdning, og vil etterlate alle latterlig overbevist om hvor fantastisk livet kan være! Kom og bli med på moroa ved å bygge ditt drømmehus i det nest lykkeligste sted på jord! Du vil få latterkramper mens du omhyggelig velger din tomt fra en av de mange, mange vakre stedene. velg din tomt, bygg ditt hus, få noen venner, og du vil være garantert en god latter!^

21 ^Velkommen til vakre historiske Yatesport! En gang hjemmet til sardinhermetikkfabrikker og offshore korallgruvedrift, er Yatesport nå hjem til tunfiskhermetikkfabrikker og offshore boring! Enten du ønsker en rolig tropisk livsstil, eller arbeiderlivsstilen til storindustrien, har Yatesport noe spesielt for deg! Strødd med mini-paradisøyer og frodige, grønne lier, er Yatesport den lille byen med en storby-holdning! Bli en del av den kjasete og masete hverdagen, eller legg alt bak deg ... uten å forlate Yatesport!^

22 ^Nyt alle rekreasjonsopplevelsene man får av å leve ved en innsjø, minus myggen, i Landry Lakes! Noen gang følt for å komme vekk fra alt? Vel, nå er din sjanse til å bli med titusener av mennesker som føler akkurat det samme! Kjenner du det gamle ordtaket som proklamerer at gresset alltid er grønnere på den andre siden av gjerdet? Vel, dette er den andre siden av gjerdet! Nyt den stille ensomheten i Landry Lakes med masse av dine beste venner! Landry Lakes, hvor rekreasjon er konge!^

23 ^Bølgende åser av grønt og isete, blått vann kan være dine omgivelser i dette rekreasjonsparadiset! Et moderat klima og varm, vestlig bris fremhever dette frodige smaragdparadiset. Rikelig med kystlinjeeiendom er tilgjengelig. Foretrekker du store, åpne områder? Nichols Notch har en overflod av rolig beitmarkseiendom. Bygge det hjemmet du drømmer om i Nichols Notch. Navngi din nisje i Nichols Notch!^

24 ^Både historikere og historiefantaster er tiltrukket av den antropologiske appellen til dette 'landet som tiden ikke kunne glemme'. Vurdert av "Unektelig det beste stedet å bo i universet-magasinet" som: Unektelig det beste stedet å bo i universet. King Canyons kan være stedet for nettopp deg! Bøy deg ned for den utrolige prakten til Royal Rivers mens de snor seg majestetisk gjennom The Chosen One Bayou. Bygg din eiendom i Divinity Delta eller etabler din gård i Plains of Unquestionable Greatness. Bli kongen av ditt eget slott i landet King Canyons.^

25 ^Lev øylivet i solen og moroen på Virginia Islands. Sol deg på de hvite sandstrendene eller klatre til den snødekte toppen av McArthur Peak. Bygg ditt gledesparadis i dette frodige fantasilandet. Rikelig med attraktivt hav og elvebreddeiendommer er tilgjengelig. Skynd deg! Gjør dette ferieparadiset til ditt permanente hjem! Virginia Islands venter på deg!^

26 ^Du vil føle deg som om du har entret det ultimate fantasilandet idet du hengir deg til uhemmete lyster i rolige omgivelser i Pixie Point. Spill blant toppene, viddene og pudderet i det lille, folkerike paradiset som er Lewis Lagoon! Kjøl tærne i de snødekte høylandene i Hills of Ica eller varm din kropp og sjel på Pixie Dust Beach. Ta kontroll over din skjebne! Produser lekeplassen du drømmer om på Pixie Point!^

27 ^Entre fantasiverdenen West Darrington. De eldste hevder at West Darrington en gang var landet med kjemper og drager. Det går også rykter om at Mount Darrington en gang var klimaks for den legendariske, episke gnomekampen om kontroll av Golden Kettle. Hvem er vi til å motsi dem? Lev et legendarisk liv ved å bygge din havn her i West Darrington. Måtte Wizards of Dondlefinger smile vennlig på deg, og alvene i Chesterburg kjærtegne deg med sine silkevinger. Eller, i det minste, måtte Dwarves av Terror aldri stjele sjelen av ro som ligger fredelig i ditt nye hjem!^

28 ^Øvre Shankelston er et rekreasjonsparadis! Lokalisert like nord for Nedre Shankelston, setter Øvre Shankelston "O"-en i MORO! Happy-go-lucky innbyggerne i denne fantastiske byen lever for underholdning! Kom, legg til enda mer moro i deres liv, og ditt! Snødekte stup, grønne, bølgende åser og tonnevis av strandeiendommer gjør Øvre Shankelston stedet å møtes for moro, moro, MORO!^

29 ^Vel, vi lever her i Albertstown. De har revet alle fabrikkene ned, og hvilken forskjell det har gjort! Selv om det en gang var et gammelt industriområde, er Albertstown nå et forynget eventyrland som er rikt på historie og tradisjon. Hvis du liker å ta en tur tilbake i tid for å se hvordan livet ble levd i en industriell alder, er kanskje Albertstown stedet for deg! Det som en gang var en grå, røykfylt by er nå et grønt og blått paradis. Hvis du er en historiefantast, eller hvis du bare liker vakre steder, lag ditt hjem i Albertstown.^

30 ^Terra Tablante ble laget for romantikere som deg! Bli forelsket på nytt når du blit vitne til de grønne bølgende åsene, blått vann og de ​​snødekte toppene i Terra Tablante. Beboerne her elsker rolige omgivelser, rolige innsjøer og de ​​hvite sandstrendene. Å ikke ha levd i Terra Tablante er å ikke ha elsket. Åpne ditt hjerte og bygg ditt kjærlighetsrede i Terra Tablante.^
