1  ^CSR-verktøy^
2  ^Kast ut^
3  ^Husnavn^	
4  ^Valgte avatarer^
5  ^Hele tomten^
6  ^Avatarer^
7  ^Melding til spillere^
8  ^Loggnotat^
9  ^Hindre ikke-CSR inngang^
10 ^OK^
11 ^Avbryt^
12 ^Kryss av denne boksen hvis du vil hindre ikke-CSR spillere fra å entre denne tomten før du forlater den.^

