1  ^Ikke vis flere hint.^
2  ^Hint^
3  ^Du kan opprette og beholde opp til tre forskjellige simmer som representerer deg i The Sims Online, men du kan bare spille en om gangen. Klikk på en av "Opprett en ny Sim"-knappene for å begynne å lage ditt første alter-ego.^
4  ^Hint^
5  ^Før du oppretter din første Sim, velg hvor du ønsker at denne simmen skal leve. Din sim vil leve hele sitt liv i byen du velger. Hvis du planlegger å spille med virkelige venner, spør dem hvilken by deres sim er i slik at du kan lage en sim i den byen også. Hver by kan ha tusenvis av beboere og kan utvikle seg til unike samfunn, avhengig av hvilke simmer som bor der. Spillereglene er de samme for alle byer, så det kan være lurt å velge en som høres interessant ut for deg. Hvis du ønsker å lære mer om smaken av en enkelt by, utforsk TheSimsOnline.com.^
6  ^Hint^
7  ^Lag et alter-ego som representerer deg i The Sims Online. Du kan ha opptil tre simmer, men du kan bare spille en om gangen. Navnet og hodet du velger her vil være permanent, og vil være identiteten andre spillere kjenner deg som. Du vil være i stand til å skifte klær ved hjelp av ulike kostymeskap og redigere din sim-profil senere.^
8  ^Hint^
9  ^Velkommen til din nye by! Utforsk verden litt og få en følelse for hva slags steder og mennesker er her. De pulserende lysene angir hvor de andre spillerne er akkurat nå. Klikk på "mest populære steder med Velkommen-kategori"-filteret (ser ut som et håndtrykk) for å se hva noen av de lokale velkomstpunktene er. Disse stedene er eid av folk som har valgt å spesialisere seg i å ønske nye spillere velkommen. Besøk en som høres spennende ut.^
10 ^Hint^
11 ^Ok, nå har du kom seg til der dramaet foregår. For å chatte med de andre simmene, bare begynn å skrive og trykk på return. For å samhandle med dem, klikk på dem for å se en meny med alternativer. For å be din sim gjøre en gest, klikk på deg selv. Når du er klar til å forlate denne eiendommen og gå til en annen, bare bruk zoomkontrollene for å gå tilbake ut til nabolaget eller byen. Simmen din vil holde seg på tomten og lagre ditt sted. Eller velg "forlat eiendom" ved hjelp av telefonkiosken for å ta simmen din med deg!^
12 ^Hint^
13 ^Når du først kjøper en eiendom, vil du ha en begrenset mengde byggbar plass. Jo flere romkamerater du får, jo mer kan du oppgradere byggbar plass uten straff.^
14 ^Hint^
15 ^Eiendomssiden tillater deg å lære mer om en eiendom, og hvem som er på den før du går inn. Klikk på simmens bilde i den utvidede eiendomssiden for å finne ut mer om de menneskene som for øyeblikket er inne. (Et grått miniatyrbilde betyr at ingen romkamerater er tilkoblet.) Eller for å spille på eiendommen, klikker du bare den store pilen.^
16 ^Hint^
17 ^Kjøper pass opp: alle romkamerater kan slette arkitektur, uavhengig av hvem som plasserte den. Dette gjelder alt i byggemodus: vegger, dører, vinduer, trær, peiser, osv. ... Hvis en romkamerat dekker over din dyrebare tapet med blomstermotiv, vil du ikke få en tilbakebetaling.
Hvis du vil vite hvordan du bruker noen av byggeverktøyene, klikker du verktøyets miniatyrbilde og holder markøren over den for å få opp et hjelpepanel.^
18 ^Hint^
19 ^Hvis midlene blir lave, vil du ikke være i stand til raskt å starte en ny sim i denne byen. Tips: Pass på at du er forpliktet til å spille denne simmen og forstår hva du trenger penger til (for eksempel å kjøpe gjenstander til deg selv) før du gir penger til noen andre. Med mindre du er sikker på at du kjenner denne simmen, ikke gi ham eller henne noen betydelig sum penger. Han eller hun kan forsøke å svindle penger fra deg. Vær sikker på hvem du stoler nok på til å gi penger til dem.^
20 ^Hint^
21 ^Siden du har foreldrekontroll på, vil du trenge å bokmerke hver Sim før du kan se hverandres chat. For å bokmerke noen klikker du bildet deres for å få opp deres simside, og krysser av ved bokmerket. Når din forelder skriver inn passordet, kan du og den simmen kan prate så mye dere vil. Når du er klar til å forlate denne eiendommen og gå til en annen, bare bruk zoomkontrollene for å gå tilbake ut til nabolaget eller byen. Simmen din vil holde seg på tomten og lagre ditt sted. Eller velg "Forlat tomt" ved hjelp av telefonkiosken for å ta simmen din med deg!^
22 ^Hint^
23 ^Hvis du vil vite hvordan du bruker noen av byggeverktøyene, klikker du verktøyets miniatyrbilde og holder markøren over det for å få opp et hjelpepanel.^
24 ^Hint^
25 ^Hvert kjøpsmodusobjekt er eid av en bestemt romkamerat. Når du er i kjøpsmodus, kan du klikke hvert objekt å se hvem som eier det. Du kan flytte dine romkameraters objekter, men du kan ikke slette dem. Hvis du flytter til en ny eiendom, vil dine objekter flyttes med deg.^
26 ^Hint^
27 ^Hvor er alle menneskene? De er i de eiendommene som har en pulserende uthevet bakgrunn.^
28 ^Hint^
29 ^Når du forlater en eiendom ved hjelp av zoom-kontrollene, er din Sim der fortsatt, og dette vinduet gir deg et bakspeil for å se hva som skjer der. For å gå tilbake til eiendommen, klikk på vinduet, og du vil umiddelbart gå tilbake. Dette gjør at du kan komme ut til kartvisning for å undersøke alternativer uten å miste din plass.^
30 ^Hint^
31 ^Klikk på fanen for å velge om du vil søke etter en sim eller eiendom. Hvis du vet det *nøyaktige* navnet på simmen eller eiendommen, velg eksakt match. Ellers gjør du et wildcard søk. Husk at du bare kan finne sims og eiendommer i byen din.^
32 ^Hint^
33 ^Ser ut som du trenger litt penger ... og raskt! Aktiver "mest populære stedene med penger Kategori" filteret på byen for å plukke et sted å begynne å gjøre noe. Spør folk som bor der for å få hjelp.^
34 ^Hint^
35 ^Ditt sosiale motiv har det forferdelig vondt! Finn en eiendom fylt med folk for å få det til å klatre opp igjen raskt. Eller hvis du foretrekker et roligere miljø, delta i et gruppe objekt eller utveksle noen sosiale bevegelser med en annen vennlig Sim.^
36 ^Hint^
37 ^Når du er klar til å forlate denne eiendommen og gå til en annen, bare bruk zoomkontrollene for å gå tilbake ut til nabolaget eller byen. Simmen din vil holde seg på tomten og lagre ditt sted. Eller velg "Forlat tomt" ved hjelp av telefonkiosk for å ta simmen din med deg!^
38 ^Hint^
39 ^Flott. Du har hatt din første besøkende. Visste du at du får betalt for hvor mye tid folk bruker på din eiendom? Hver natt vil det beregnes hvor mye tid folk brukte på tomten, og hvis det er over en viss målestokk, vil du få en daglig utbetaling: jo mer tid, jo mer bonus. Hvis du har romkamerater, vil hver romkamerat få hele besøksbonus-beløpet!^
40 ^Hint^
41 ^Denne soloobjektet vil tillate deg å tjene penger. Du kan bruke disse objektene alene, men du kan øke mengden av penger du tjener ved å jobbe med andre mennesker. Hvis du er i nærheten av andre mennesker som jobber med lignende objekter, vil alle tjene mer penger. Jo flere mennesker som arbeider med deg, jo flere penger vil alle tjene. I tillegg - jo høyere ferdigheter du har, jo mer penger vil du tjene. Det finnes mange forskjellige typer av solojobbobjekter, og hver av dem har spesifikke kompetansekrav for å øke din utbetaling. For å tjene penger raskere, søk ut gruppejobbgjenstander. Du finner dem i "Top Money Makers" filteret i kartvisningsmodus.^
42 ^Hint^
43 ^Simsiden er det første stedet å komme hvis du ønsker å gjøre noe eller finne ut hva som helst om en annen Sim. For eksempel kan du sende dem en melding, bokmerke dem, ignorere dem, finne ut alderen på deres sim, deres ferdigheter, eller hvor de bor. Du kan åpne en spillers simside ved å klikke på bildet deres hvor som helst i spillet.^
44 ^Hint^
45 ^Godt jobbet! Det kreativitetspoenget vil øke ditt inntjeningspotensial på "Concessione DiPizza" profesjonelt kjøkken, "Dimanche" Folding staffeli og Scrivener's Machinograph.^
46 ^Godt jobbet! Det logikkpoenget vil øke inntjeningspotensialet ditt på Tomb Hunters of the Lost Llama, Core Business Unit av PortoCorp, The "Concoctanation Station", og QED Tavlen.^
47 ^Godt jobbet! Det mekaniske poenget vil øke ditt inntjeningspotensial på Core Business Unit av PortoCorp, og KraftKing Trearbeidsbord, samt redusere reparasjonskostnader.^
48 ^Godt jobbet! Det karismapoenget vil øke inntjeningspotensialet ditt på Tomb Hunters of the Lost Llama, "Concessione DiPizza" profesjonelt kjøkken og Telemarkedsføringssystemet.^
49 ^Godt jobbet! Det kroppspoenget vil øke ditt inntjeningspotensial på Core Business Unit av PortoCorp, "Concessione DiPizza" profesjonelt kjøkken og Piñata.^
50 ^Godt jobbet! Det matlagingspoenget vil øke ditt inntjeningspotensial på "Concessione DiPizza" profesjonelt Kjøkken og Auntie Betulia's Canning Kitchen.^
51 ^Hint^
52 ^Du har nettopp økt denne simmens sosiale status. De må få deg som venn for at du skal flytte opp i de sosiale gradene også. Inntil du får deg flere vennskap, kan du bare erklære opp til tre venner, så vær selektiv med hvem du gir ditt vennskap til.^
53 ^How To Play^
54 ^Velkommen til Heckhol Industrial Golem fabrikasjoner! Din jobb er å produsere høyteknologiske kulldrevne roboter. Aktiver alle arbeidsstasjonene langs samlebåndet for å la roboten avansere.

Disse arbeidsstasjonene ble bygget av brusbokser, reservedekk, og gamle kjøleskapsdeler, så de har en tendens til å gå i stykker. Du vil se når dette skjer, fordi lyset på toppen vil blinke. Når det skjer, kan du bruke dine logikkferdigheter til å diagnostisere problemet og lære hvilke verktøy som vil fikse arbeidsstasjonen. Far avsted til et verktøyskap for å få riktig verktøy, og pil tilbake til arbeidsstasjonen. Nå kan du bruke dine mekaniske ferdigheter til å reparere den.

Humøret spiller en faktor i hvorvidt du lykkes eller mislykkes. Bare så du vet det.

All denne faringen og pilingen kan være litt ineffektiv for en person å gjøre på egenhånd. Heldigvis har du noen kollegaer der ute for å hjelpe deg ut. Prøv å spesialisere deg på ulike oppgaver for å se hva som fungerer best.

Du får betalt for hver robot du fullfører. Lykke til!^
55 ^Velkommen til Nates Lunchatorium, som autentisk serverer deg autentisk lunsj med de samme autentiske griller og autentiske fettet siden 1932! Din jobb er å vente på besøkende simmer, forbedre humøret deres, og få dem til å forlate lokalet.

Når en sim går inn i restauranten, vil de sette seg. Når de sitter, kan du ta en ordre. Du vil få en billett. Lever den billetten til P.O.S. (som er "Point of Sale", i tilfelle du lurte), og kokker på kjøkkenet vil gå rett til verks med å utføre din bestilling - det vil si, hvis de ikke sluntrer unna. Om de gjør det, gi dem et lite dytt for å få dem i gang igjen.

I mellomtiden kan du samhandle med kundene for å forbedre deres humør. Glade sims er store tipsere, men ikke utfordre skjebnen. Hvis du plager folk (eller ignorerer dem), vil de trolig forlate uten å betale.

Husk, all god lunsj starter med "lunchatorium"! Det er Nates Lunchatorium, beleilig plassert ved siden av SimCity Sykehus og CDC.^
56 ^Velkommen til Trader Jimmys Tiki Lounge, der eliten møtes for å flytte sine føtter i takt. Her på nattklubben er du enten en DJ eller en danser som forsøker å lokke sims til å riste sine rumper og danse hele natten.

Som en DJ vil du bruke vår state of the art Technofrobicon 2000 Platespillere til å mikse musikken som får simmene til å gå ga-ga. Bare velg et spor fra hvert instrument. Det er akkurat som å velge sanger på en jukeboks.

Som danser vil dine bevegelser og permutasjoner av treghetsradier føre til oppstemthet, fascinasjon og beundring. Med andre ord, gå opp på Dance-O-Matic og "shake that thang". Når du kommer på plattformen, vil du kunne velge bevegelser fra et stort repertoar. Men ikke bare gjenta det samme trekket igjen og igjen. Det kommer garantert til å kjøre publikum unna.

Hver DJ og danser fungere som et team. Du må måle stemningen i publikum for å finne ut hva som fungerer, og hva som ikke fungerer. DJer er på jakt etter en perfekt blanding av samples og beats per runde, mens dansere prøver å finne de riktige tre trekk som får sims til å riste på rumpen.

Det mest populære laget får mest penger. Koble opp med en kamerat for rikelig med utbetalinger!^

