1  ^Tilkoblingsfremdrift^
2  ^Totalfremdrift^
3  ^Nåværende oppgave^

# Login Steps to enter a city

4  ^Starter motorer^                   # City is Selected...
5  ^Snakker med moderskipet^           # Connecting to City Selector...
6  ^Kartlegger informasjonsmotorveien^ # Processing XML response...
7  ^Steriliserer TCP/IP socketer^      # Connecting to City...
8  ^Socketer sterilisert^              # Connection Established...
9  ^Forgrener kurver^                  # Asking for Avatar data from DB...
10 ^Kurver forgrenet^                  # Received Avatar data from DB...
11 ^Renser psykografiske beregninger^  # Asking for Character data from DB...
12 ^Beregninger renset^                # Received Character data from DB...
13 ^Trykksetter kontaktnettverk^       # Asking for Relationships data from DB...
14 ^Kontaktnettverk under trykk^       # Received Relationships data from DB...
15 ^Utjevner sosiale agendaer^         # Asking for Reversed Relationships data from DB...
16 ^Agendaer utjevnet^                 # Received Reversed Relationships data from DB...
17 ^Forbereder kartografi^             # Loading City map...