1 ^Kategorier^
2 ^Avbryt^
3 ^Penger: vanskelige motiver. Spesielle objekter: gruppejobber^
4 ^Offbeat: lette motiver^
5 ^Romantikk: lette motiver. Spesialobjekt: vibrerende senger^
6 ^Tjenester: middels motiver. Motivpåfyll: raskeste. Spesialobjekt: vibrerende senger, arbeidsbenk^
7 ^Butikker: middels motiver^
8 ^Ferdigheter: vanskelige motiver. Ferdighetspåfyll: raskeste^
9 ^Velkommen: lette motiver^
10 ^Spill: lette motiver^
11 ^Underholdning: lette motiver. Spesialobjekt: DJ-stand, dansegulv^
12 ^Boliger: middels motiver. Spesialobjekt: vibrerende senger^
13 ^Ingen kategori^
14 ^Kommer snart...nabolag!^
