1 ^Band Test Message^
2 ^do^
3 ^re^
4 ^mi^
5 ^fa^
6 ^so^
7 ^la^
8 ^te^
9 ^do^
10 ^Rock On^
11 ^Sell Out^
12 ^BZZZZ^
13 ^Fortsett eller cash ut^
14 ^Total ferdiget: %d.%02d    Nåværende inntjening: $%d^
15 ^Sekvensen er...^
16 ^Utfør sekvensen.^
17 ^Suksess! Alle lagkamerater får betalt^
18 ^Buzznote! Sangen starter på nytt!^
19 ^Venter på andre spillere^
20 ^Beklager, %s, feil note!^
21 ^Karisma^
22 ^Kropp^
23 ^Kreativitet^
24 ^Kreativitet^
25 ^Karisma: %d.%02d^
26 ^Kropp: %d.%02d^
27 ^Kreativitet: %d.%02d^
28 ^Kreativitet: %d.%02d^
29 ^Tiden er omme!  Sangen starter på nytt!^
