1 ^Klikk for å spinne hjul^
2 ^Nåværende spill^
3 ^Klikk for å høyne spill^
4 ^Klikk for å minske spill^
5 ^Lukk^
6 ^Laster...^
7 ^Sett oddsene^
8 ^Hus^
9 ^Spiller^
10 ^Klikk for å cashe ut^
11 ^Innbetalingsautomat^
12 ^Nåværende odds^
13 ^Slå på^
14 ^Slå av^
15 ^Viva PGT Payout Table^
16 ^"Gypsy Queen" Payout Table^
17 ^"Jack of Hearts" Payout Table^
18 ^Spill en mynt og klikk Spinn for å spille^
19 ^Klikk Spinn for å spille^
20 ^Slå av/på^
21 ^Ditt spill: $%i^
22 ^Slått av for vedlikehold^
23 ^Vennligst spill på en annen automat^
24 ^Spilleautomat-vedlikehold^
25 ^Enda en vinner! Du vinner $%i!^
26 ^Lykken er på din side! Du vinner $%i!^
27 ^Gratulerer! Du vinner $%i!^
28 ^Du er en vinner! Du vinner $%i!^
29 ^Skjebnen smiler til deg! Du vinner $%i!^
30 ^Beklager, prøv igjen.^
31 ^Bedre lykke neste gang!^
32 ^Vær ikke redd, din lykke vil snu.^
33 ^Ulykke varer ikke evig!^
34 ^Spinn igjen, du vil kanskje vinne!^
35 ^Noen^
36 ^%i X spill^
