1  ^Ess^
2  ^To^
3  ^Tre^
4  ^Fire^
5  ^Fem^
6  ^Seks^
7  ^Sju^
8  ^Åtte^
9  ^Ni^
10 ^Ti^
11 ^Knekt^
12 ^Dronning^
13 ^Konge^
14 ^ av ^
15 ^Spar^
16 ^Hjerter^
17 ^Ruter^
18 ^Diamanter^
19 ^Joker^
