1  ^Plassér dine spill... ^
2  ^Deler.^
3  ^Din tur.^
4  ^s tur.^
5  ^ tur.^
6  ^Slå til^
7  ^Stå over^
8  ^Splitt^
9  ^Doble ned^
10 ^Etter denne runden vil bordet stenges.^
11 ^Du vinner $%d.^
12 ^%s vinner $%d.^
13 ^Vil du kjøpe forsikring?^
14 ^Plassér spill^
15 ^Legg til $%d for å spille^
16 ^Total i spill:^
