1  ^Prøv ut det valgte antrekket^
2  ^Kjøp det valgte antrekket^
3  ^Stativets navn^
4  ^Antrekkets pris^
5  ^Kjøp antrekk^
6  ^Bra valg! Vil du ta det på akkurat nå?^
7  ^Ser på stativ...^
8  ^Det antrekket er ikke for ditt kjønn.^
9  ^Du har ikke råd til det antrekket.^
10 ^Du har ikke mer rom i din ryggsekk.^