1  ^Slett valgt antrekk^
2  ^Legg dette antrekket til stativet^
3  ^Bytt til mannlig antrekkskatalog^
4  ^Bytt til kvinnelig antrekkskatalog^
5  ^Sett stativets navn^
6  ^Sett antrekkets pris^
7  ^Legg til antrekk^
8  ^Vil du legge dette antrekket til stativet?^
9  ^Slett antrekk^
10 ^Vil du fjerne dette antrekket fra stativet?^
11  ^Beklager, du har ikke råd til å legge dette antrekket til stativet.^
12  ^Det er ikke mer rom på dette stativet.^
13  ^Du har ikke råd til å legge til dette antrekket.^
14  ^Å legge til dette antrekket vil koste $^