1  ^Slett det valgte objektet fra din ryggsekk^
2  ^Bytt til det valgte objektet^
3  ^Bytt til dagligtøy^
4  ^Bytt til badetøy^
5  ^Bytt til sovetøy^
6  ^Sett som standard for denne kategorien^
7  ^Slett objekt^
8  ^Vil du virkelig slette dette objektet?^
9  ^Hodetilbehør^
10 ^Ryggtilbehør^ 
11 ^Fottilbehør^
12 ^Haletilbehør^
