1  ^Ukjent kategori^
2  ^Ukjent kategori^
3  ^Ukjent kategori^
4  ^Ukjent kategori^
5  ^Ukjent kategori^
6  ^Ukjent kategori^
7  ^Ukjent kategori^
8  ^Ukjent kategori^
9  ^Ukategorisert^
10 ^Diverse^
11 ^Spiller som bruker ditt objekt^
12 ^Objekt du brukte^
13 ^Juks^
14 ^Diverse^
15 ^Objektspåfyll eller vedlikehold^
16 ^Objekt du brukte^
17 ^Spiller til spiller^
18 ^Spiller som bruker ditt objekt^
19 ^Objekt du brukte^
20 ^Spiller som bruker ditt objekt^
21 ^Objekt du brukte^
22 ^Spiller som bruker ditt objekt^
23 ^Objekt du brukte^
24 ^Spiller som bruker ditt objekt^
25 ^Objekt du brukte^
26 ^Spiller som bruker ditt objekt^
27 ^Objekt du brukte^
28 ^Spiller som bruker ditt objekt^
29 ^Objekt du brukte^
30 ^Spiller som bruker ditt objekt^
31 ^Objekt du brukte^
32 ^Spiller som bruker ditt objekt^
33 ^Objekt du brukte^
34 ^Servicepersonutbetaling^
35 ^Gartnerutbetaling^
36 ^Hushjelputbetaling^
37 ^Reparatørutbetaling^
38 ^Butlerutbetaling^
39 ^Jobblønninger^
40 ^Robotfabrikklønninger^
41 ^Restaurantlønninger^
42 ^Nattklubblønninger^