1 ^Kan ikke komme til jobben!^
2 ^Jobbsøket klarte ikke å søke etter din jobbtype.^
3 ^Jobbsøket klarte ikke å finne jobbinformasjon om din sim.^
4 ^Jobbsøket klarte ikke å  finne en jobbtomt som trengte deg.^
5 ^Jobbsøket klarte ikke å opprette en viktig lås på din jobb.^
6 ^Vedlikehold på motorveien gjør at du ikke får kommet deg på jobb. I tillegg er broen ødelagt. Og fryktede, sinna gnomer har tatt over tollstasjonene og stoppet alle som vil passere. Nevnte vi gresshoppene? Åh, det er gresshopper, ja. Mengder av dem. På størrelse med knyttneven din. Vi beklager virkelig. Du kan forsøke å entre en jobbtomt om noen minutter, men våre sertifiserte trafikkovervåkere kan ikke garantere at situasjonen vil forbedres i løpet av denne simdagen.^
7 ^Jobbsøket klarte ikke å lage og aktivere din jobb.^ 
8 ^Jobbsøket klarte ikke å legge deg til listen over ansatte.^
9 ^Takk for at du besøkte denne jobbtomten. Dessverre har du ikke den rette jobbtypen for å jobbe her. Du kan være her og se på eller gi et annet sted en sjanse.^
10 ^Takk for at du besøkte denne jobbtomten. Dessverre har du ikke den rette jobbgraden for å jobbe her. Du kan være her og se på eller gi et annet sted en sjanse.^
11 ^Takk for at du besøkte denne jobbtomten. Dessverre har vi nok arbeidere akkurat nå. You may wait til there is an opening eller gi et annet sted en sjanse.^
12 ^Takk for at du besøkte denne jobbtomten. Dessverre ignorerer en av våre spillere deg. Du kan være her og se på eller gi et annet sted en sjanse.^
13 ^Takk for at du besøkte denne jobbtomten. Dessverre vil du ikke kunne jobbe her. Du kan være her og se på eller gi et annet sted en sjanse.^
14 ^Ansettelse feilet^