// kTSOAssetStringFWebControls
1 ^Maksimum antall linker tjent^
2 ^Tilbake til siste sim^
3 ^Lukk venneveven^
4 ^Sentrér veven på din sim^
5 ^Venner^
6 ^Fiender^
7 ^^
8 ^^
9 ^1^
10 ^2^
11 ^3^
12 ^4^
13 ^5^
14 ^6^
15 ^7^
16 ^8^
17 ^Skift til side 1^
18 ^Skift til side 2^
19 ^Skift til side 3^
20 ^Skift til side 4^
21 ^Skift til side 5^
22 ^Skift til side 6^
23 ^Skift til side 7^
24 ^Skift til side 8^
25 ^Se innkommende vennskap^
26 ^Se utgående vennskap^
27 ^Innkommende forhold:^
28 ^Hvordan andre simmer føler om deg^
29 ^Utgående forhold:^
30 ^Hvordan du føler om andre simmer^
31 ^Livstid:^
32 ^Daglig:^
33 ^Oppdater nåværende sim^
