Runaway pet letters

1 ^Vi fanget nylig "%s", en løpsk katt som tilhører deg. Tatt i betrakning dyrets dårlige tilstand når vi fant det, kan vi bare anta at du har vært en uskikket eier.  "%s" vil bli adoptert av en mer pliktoppfyllende sim. Vennligst ta bedre vare på dine kjæledyr i fremtiden. Regelmessig fôring, kjæling og interaksjon er alt din lille pelskledde venn egentlig trenger.^
2 ^Vi fanget nylig "%s", en løpsk hund som tilhører deg. Tatt i betrakning dyrets dårlige tilstand når vi fant det, kan vi bare anta at du har vært en uskikket eier.  "%s" vil bli adoptert av en mer pliktoppfyllende sim. Vennligst ta bedre vare på dine kjæledyr i fremtiden. Regelmessig fôring, kjæling og interaksjon er alt din lille pelskledde venn egentlig trenger.^
3 ^Vi fanget nylig "%s", en løpsk katt som tilhører deg. Katten hadde løpt vekk på grunn av ekstrem sult.  "%s" will be adopted by a more conscientious Sim. Vennligst ta bedre vare på dine kjæledyr i fremtiden. Regelmessig fôring, kjæling og interaksjon er alt din lille pelskledde venn egentlig trenger.^
4 ^Vi fanget nylig "%s", en løpsk hund som tilhører deg. Hunden hadde løpt vekk på grunn av ekstrem sult.  "%s" will be adopted by a more conscientious Sim. Vennligst ta bedre vare på dine kjæledyr i fremtiden. Regelmessig fôring, kjæling og interaksjon er alt din lille pelskledde venn egentlig trenger.^
5 ^Vi fanget nylig "%s", en løpsk katt som tilhører deg. Katten hadde løpt vekk på grunn av ekstrem mangel på sosialisering.  "%s" vil bli adoptert av en mer pliktoppfyllende sim. Vennligst ta bedre vare på dine kjæledyr i fremtiden. Regelmessig fôring, kjæling og interaksjon er alt din lille pelskledde venn egentlig trenger.^
6 ^Vi fanget nylig "%s", en løpsk hund som tilhører deg. Hunden hadde løpt vekk på grunn av ekstrem mangel på sosialisering.  "%s" vil bli adoptert av en mer pliktoppfyllende sim. Vennligst ta bedre vare på dine kjæledyr i fremtiden. Regelmessig fôring, kjæling og interaksjon er alt din lille pelskledde venn egentlig trenger.^
7 ^Vi fanget nylig "%s", en løpsk katt som tilhører deg. Katten hadde løpt vekk på grunn av kjedsomhet.  "%s" vil bli adoptert av en mer pliktoppfyllende sim. Vennligst ta bedre vare på dine kjæledyr i fremtiden. Regelmessig fôring, kjæling og interaksjon er alt din lille pelskledde venn egentlig trenger.^
8 ^Vi fanget nylig "%s", en løpsk hund som tilhører deg. Katten hadde løpt vekk på grunn av kjedsomhet.  "%s" vil bli adoptert av en mer pliktoppfyllende sim. Vennligst ta bedre vare på dine kjæledyr i fremtiden. Regelmessig fôring, kjæling og interaksjon er alt din lille pelskledde venn egentlig trenger.^
9 ^Pus uten navn^
10 ^Hund uten navn^
11 ^MOMI (Animal Control Division)^